.footer-contact {
    margin-top: 32px;
}

.footer-contact .contact-title {
    margin-bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.footer-contact .contact-title:hover {
    transform: scale(1.1);
    /* Phóng to 120% khi hover */
    color: rgb(87, 233, 87);
    /* Thay đổi màu sắc thành màu đỏ khi hover */
}

.footer-contact .contact-item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.footer-contact .contact-item .contact-icon {
    margin-right: 10px;
    max-width: 15px;
    max-height: 15px;
}

.footer-contact .contact-item .contact-content {
    transition: all 0.3s ease;
}

.footer-contact .contact-item .contact-content:hover {
    transform: scale(1.1);
    /* Phóng to 110% */
    filter: brightness(1.2);
    /* Làm mờ độ trong suốt xuống còn 80% */
}