<div class="home-intro">
    <video autoplay muted loop>
        <source src="..\..\audio\donut.mp4" type="video/mp4">
    </video>
    <div class="overlay"></div>
    <div class="intro-info">
        <!-- <div class="intro-info-title">VANI PLATFORM</div> -->
        <div class="intro-info-description">
            <%= introduction %>
        </div>
        <div class="intro-info-action">
            <div class="btn btn-cta" id="see-more-btn"><a href="/customer">Trượt</a></div>
            <div class="btn btn-cta"><a href="/customer/upload">+ Upload</a></div>
        </div>
    </div>
</div>

<script>

</script>