<div class="home-intro">
    <img class="overlay" loading="lazy" alt=""
        src="https://64.media.tumblr.com/e647f3bb9de3d00c241ad7082145fa0f/tumblr_o2w5nbKv1T1v514p4o1_1280.jpg">
    <div class="intro-info">
        <!-- <div class="intro-info-title">VANI PLATFORM</div> -->
        <div class="intro-info-description">

        </div>
        <div class="intro-info-action">
            <div class="btn btn-cta" id="see-more-btn"><a href="/customer/videos">Trượt</a></div>
            <div class="btn btn-cta"><a href="/customer/upload">+ Upload</a></div>
        </div>
    </div>
</div>

<script>
</script>