.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.loader.visible {
    opacity: 1;
    visibility: visible;
}

.ball {
    list-style: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 20;
}

.ball:nth-child(1) {
    animation: bounce-1 2.1s ease-in-out infinite;
}

@keyframes bounce-1 {
    50% {
        transform: translateY(-18px);
    }
}

.ball:nth-child(2) {
    animation: bounce-3 2.1s ease-in-out 0.3s infinite;
}

@keyframes bounce-2 {
    50% {
        transform: translateY(-18px);
    }
}

.ball:nth-child(3) {
    animation: bounce-3 2.1s ease-in-out 0.6s infinite;
}

@keyframes bounce-3 {
    50% {
        transform: translateY(-18px);
    }
}

@keyframes rotate141 {
    to {
        transform: rotate(360deg);
    }
}

#home-body {
    position: relative;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(221, 221, 221, 0.12) 0px 1px 1px;
    height: 60px;
    width: 100%;
    top: 0px;
    position: fixed;
    -webkit-box-align: center;
    align-items: center;
    background: #eeeeef;
    z-index: 1000;
}

.nav-menu.scrolled {
    opacity: 0.3;
    /* Đặt giá trị opacity khi cuộn chuột */
}

.normal-menu {
    background-color: var(--primary-black);
}

.nav-menu .nav-menu-brand {
    display: flex;
}

.nav-menu .nav-menu-brand .logo-brand {
    margin-right: 20px;
}

.nav-menu .nav-menu-brand .logo-brand img {
    width: 70px;
}


.menu-list {
    margin-top: 30px;
    /* Thay đổi giá trị này để điều chỉnh khoảng cách từ đỉnh của trang */
}

.menu-list .menu-item {
    margin-right: 28px;
    font-size: 16px;
    font-weight: 500;
}

.menu-list .menu-item:last-child {
    margin: 0;
}

.menu-list .menu-item a:hover {
    font-weight: 700;
    background: -webkit-linear-gradient(130.51deg, #EB9400 15.72%, #FFE600 84.94%);
    background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -o-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.menu-list .menu-item a {
    color: black;
    /* Đổi màu chữ thành đỏ (#ff0000) hoặc màu bạn muốn */
    font-weight: bold;
    font-size: large;
}

#menu-responsive-btn {
    display: none;
}

@media screen and (max-width: 550px) {
    /* #menu-responsive-btn {
        display: block;
        background: var(--gradient-golden);
        height: 30px;
        border-radius: 2px;
        cursor: pointer;
    }

    #menu-responsive-btn img {
        width: 30px;
    }

    #menu-responsive-btn:hover {
        background: var(--primary-black);
    } */

    .menu-list {
        transition: all 0.3s ease;
        opacity: 0;
        transform: translateY(-10px);
        position: absolute;
        top: 0px;
        right: 60px;
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 1px;
        width: 100px;
        z-index: 1;
        background-color: #80808026;
        border-radius: 20px;
        line-height: 8px;
    }

    /* .menu-list.active {
        opacity: 1;
        transform: translateY(0);
        display: flex;
        flex-direction: column;
        transform-origin: right;
        transition: 0.3s;
    } */

    .nav-menu-display {
        transform: rotateY(0);
    }

    .menu-list .menu-item {
        margin: 15px 0;
    }

    .menu-list .menu-item:last-child {
        margin: 15px 0;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        padding: 12px 20px;
        color: var(--primary-white);
        align-items: center;
        transition: 0.2s ease-in-out;
    }

    .menu-list .menu-item a {
        color: black;
        font-weight: bold;
        font-size: small;
    }
}

.DivProfileContainer {
    margin-left: 24px;
    /* margin-top: 5%;
    margin-bottom: 2%; */
    position: relative;
    width: 32px;
    height: 32px;
    background: center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 95%;
    right: 10%;
    background-color: #80808026;
    /* min-width: 100px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;
    text-align: center;
    padding: 1px;
    width: 100px;
    border-radius: 20px;
    line-height: 50px;
    font-size: medium;
    color: black;
    font-weight: bold;
}

.dropdown-menu a {
    font-size: medium;
    color: black;
    font-weight: bold;
}

/* CSS cho phần tử gốc */
.dropdown-container {
    position: relative;
    display: inline-block;
}

/* Hiển thị dropdown menu khi phần tử gốc được hover hoặc click */
.dropdown-container:hover .dropdown-menu,
.dropdown-container:focus-within .dropdown-menu {
    display: block;
}

.css-q8q040-DivHeaderRightContainer {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-inline-end: unset;
}

.css-9j9jz0-DivMessageIconContainer {
    margin-left: 16px;
    cursor: pointer;
    height: 32px;
    padding: 3px 3px 0px;
    position: relative;
}

.css-y48l9g-StyledIcon {
    width: 26px;
    height: 26px;
    transform: none;
}

.css-1deszxq-DivHeaderInboxContainer {
    margin-left: 16px;
    position: relative;
}

.css-1g0p6jv-StyledInboxIcon {
    cursor: pointer;
    display: block;
}

.css-cxva5b-DivHeaderInboxWrapper {
    display: block;
    position: absolute;
    width: 376px;
    height: 640px;
    top: 45px;
    background: rgb(37, 37, 37);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px -4px 32px;
    transition: all 200ms linear 0s;
    z-index: 1000;
    opacity: 1;
    right: -66px;
}

.css-e0rxz1-StyledArrow {
    position: absolute;
    top: -8px;
    right: 70px;
}

.css-vubwh3-DivInboxContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.css-19hvf92-DivInboxHeaderContainer {
    padding-top: 24px;
    flex: 0 0 auto;
    padding-left: 16px;
}

.css-1bup70j-H2InboxTitle {
    color: rgba(255, 255, 255, 0.9);
    font-family: TikTokDisplayFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
}

.css-5uc042-DivGroupContainer {
    color: rgba(255, 255, 255, 0.9);
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-top: 16px;
    display: flex;
    flex-flow: wrap;
}

.css-4p4iga-ButtonGroupItem:not(:last-child) {
    margin-right: 8px;
}

.css-4p4iga-ButtonGroupItem {
    color: rgb(18, 18, 18);
    background: rgba(255, 255, 255, 0.9);
    border: none;
    padding: 2px 8px;
    margin-bottom: 12px;
    text-align: center;
    cursor: pointer;
    border-radius: 12px;
    transition: all 300ms ease 0s;
}

.css-7p3g5e-ButtonGroupItem:not(:last-child) {
    margin-right: 8px;
}

.css-7p3g5e-ButtonGroupItem {
    color: rgba(255, 255, 255, 0.9);
    background: rgba(255, 255, 255, 0.08);
    border: none;
    padding: 2px 8px;
    margin-bottom: 12px;
    text-align: center;
    cursor: pointer;
    border-radius: 12px;
    transition: all 300ms ease 0s;
}

.css-o6y5r-DivInboxContentContainer {
    flex: 1 1 auto;
    overflow: auto;
}

.css-1nipj7h-PTimeGroupTitle {
    color: rgb(255, 255, 255);
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding: 0px 16px;
    margin-top: 8px;
}

.css-1cz26jb-UlInboxItemListContainer {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.css-1lqaxb-LiInboxItemWrapper {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.css-1xueeet-DivSystemNotifItemContainer {
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    padding: 10px 16px;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
}

.css-rlx2vl-DivSystemNotifIconContainer {
    min-width: 48px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid rgb(22, 24, 35);
    background-color: rgb(22, 24, 35);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.css-14aeum4-DivContentContainer {
    padding: 0px 12px;
    flex: 1 1 auto;
}

.css-x6e8xi-PTitleText {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-weight: 600;
    word-break: break-all;
    color: white;
}

.css-x6e8xi-PTitleText a {
    color: white;
}

.css-1mxvqe8-PSystemNotifDescText {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: rgba(255, 255, 255, 0.5);
    max-height: 130px;
    word-break: break-word;
}

.css-lm7s7f-DivArrowContainer {
    min-width: 16px;
    width: 16px;
    height: 16px;
}

.css-7hu7c-DivItemContainer {
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    padding: 10px 16px;
    align-items: flex-start;
    cursor: pointer;
}

.css-9zoew1-SpanAvatarContainer-StyledAvatar {
    display: inline-block;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-feature-settings: "tnum";
    position: relative;
    overflow: hidden;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    border-radius: 50%;
    background-color: rgba(136, 136, 136, 0.5);
    flex: 0 0 48px;
}

.css-1zpj2q-ImgAvatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.css-1186a7g-StyledLink-StyledTitleTextLink {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-weight: 600;
    word-break: break-all;
    color: white;
}

.css-1e1fu7b-PDescText {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    color: rgba(255, 255, 255, 0.5);
    max-height: 130px;
    word-break: break-word;
}

.css-15yz56w-SpanPrimary {
    color: rgba(255, 255, 255, 0.9);
}

.css-xqit6-PDescText-StyledExtraText {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    color: rgba(255, 255, 255, 0.5);
    max-height: 130px;
    word-break: break-word;
    position: relative;
    padding-left: 8px;
    margin-top: 4px;
    -webkit-line-clamp: 1;
}

.css-x0r98q-DivVideoCover {
    flex: 0 0 42px;
    width: 42px;
    height: 56px;
    background: center center / cover no-repeat;
    border-radius: 2px;
}

.css-15iwytd-DivProfileContainer {
    margin-left: 24px;
    position: relative;
    width: 32px;
    height: 32px;
    background: center center / cover no-repeat;
    border-radius: 50%;
    cursor: pointer;
}

.css-ejp1tv-DivContainer {
    position: absolute;
    z-index: 2;
    background: rgb(250, 248, 248);
    border-radius: 8px;
    top: calc(100% + 12px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    transition: opacity 300ms ease 0s;
    opacity: 1;
}

.css-1ny6agx-StyledTopArrow {
    display: block;
    width: 24px;
    height: 8px;
    position: absolute;
    top: -8px;
}

.css-e30u3h-UlPopupContainer {
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    padding: 8px 0px;
    margin: 0px;
    min-width: 223px;
    list-style: none;
}

.css-iqu7v6-LiItemWrapper {
    color: rgba(255, 255, 255, 0.9);
    padding: 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-1gdfwpc-StyledLink-StyledUserLink {
    display: flex;
    white-space: nowrap;
    flex-direction: row;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    /* color: rgba(255, 255, 255, 0.9); */
}

.css-g0144v {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
}

.css-1gdfwpc-StyledLink-StyledUserLink:hover,
.css-1gdfwpc-StyledLink-StyledUserLink:active {
    text-decoration: none;
    background-color: rgba(154, 151, 151, 0.9);
}

.css-1hji1mo-LiItemWrapper {
    /* color: rgba(255, 255, 255, 0.9); */
    padding: 10px 8px 10px 16px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-top: 1px solid rgba(239, 8, 8, 0.12);
}

.css-1r76y3-DivSettingItem {
    display: flex;
    white-space: nowrap;
    flex-direction: row;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    /* color: rgba(255, 255, 255, 0.9); */
}

.css-1hhy3ou-ALink-StyledLinkItem:hover,
.css-1hhy3ou-ALink-StyledLinkItem:active {
    text-decoration: none;
    background-color: rgba(154, 151, 151, 0.9);
}

.css-1hji1mo-LiItemWrapper:hover,
.css-1hji1mo-LiItemWrapper:active {
    text-decoration: none;
    background-color: rgba(154, 151, 151, 0.9);
}

.css-1hhy3ou-ALink-StyledLinkItem {
    display: flex;
    white-space: nowrap;
    flex-direction: row;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    /* color: rgba(255, 255, 255, 0.9); */
}

.css-1g1i6o0-SupBadge {
    color: rgb(255, 255, 255);
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    left: 16px;
    background: rgb(255, 59, 92);
    min-width: 20px;
    height: 20px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    top: -20%;
}

.css-2yolk3-StyledLink-StyledLinkVideoCover {
    flex: 0 0 42px;
    width: 42px;
    height: 56px;
    background: center center / cover no-repeat;
    border-radius: 2px;
}