.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.loader.visible {
    opacity: 1;
    visibility: visible;
}

.ball {
    list-style: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 20;
}

.ball:nth-child(1) {
    animation: bounce-1 2.1s ease-in-out infinite;
}

@keyframes bounce-1 {
    50% {
        transform: translateY(-18px);
    }
}

.ball:nth-child(2) {
    animation: bounce-3 2.1s ease-in-out 0.3s infinite;
}

@keyframes bounce-2 {
    50% {
        transform: translateY(-18px);
    }
}

.ball:nth-child(3) {
    animation: bounce-3 2.1s ease-in-out 0.6s infinite;
}

@keyframes bounce-3 {
    50% {
        transform: translateY(-18px);
    }
}

@keyframes rotate141 {
    to {
        transform: rotate(360deg);
    }
}

#home-body {
    position: relative;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    color: rgba(32, 185, 114, 0);
    align-items: center;
    transition: 0.2s ease-in-out;
    position: relative;
    opacity: 1;
    z-index: 10;
    /* Đặt mặc định là không mờ */
}

.nav-menu.scrolled {
    opacity: 0.3;
    /* Đặt giá trị opacity khi cuộn chuột */
}

.normal-menu {
    background-color: var(--primary-black);
}

.nav-menu .nav-menu-brand {
    display: flex;
}

.nav-menu .nav-menu-brand .logo-brand {
    margin-right: 20px;
}

.nav-menu .nav-menu-brand .logo-brand img {
    width: 70px;
}


.menu-list {
    margin-top: 30px;
    /* Thay đổi giá trị này để điều chỉnh khoảng cách từ đỉnh của trang */
}

.menu-list .menu-item {
    margin-right: 28px;
    font-size: 16px;
    font-weight: 500;
}

.menu-list .menu-item:last-child {
    margin: 0;
}

.menu-list .menu-item a:hover {
    font-weight: 700;
    background: -webkit-linear-gradient(130.51deg, #EB9400 15.72%, #FFE600 84.94%);
    background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -o-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.menu-list .menu-item a {
    color: black;
    /* Đổi màu chữ thành đỏ (#ff0000) hoặc màu bạn muốn */
    font-weight: bold;
    font-size: large;
}

#menu-responsive-btn {
    display: none;
}

@media screen and (max-width: 550px) {
    /* #menu-responsive-btn {
        display: block;
        background: var(--gradient-golden);
        height: 30px;
        border-radius: 2px;
        cursor: pointer;
    }

    #menu-responsive-btn img {
        width: 30px;
    }

    #menu-responsive-btn:hover {
        background: var(--primary-black);
    } */

    .menu-list {
        transition: all 0.3s ease;
        opacity: 0;
        transform: translateY(-10px);
        position: absolute;
        top: 0px;
        right: 60px;
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 1px;
        width: 100px;
        z-index: 1;
        background-color: #80808026;
        border-radius: 20px;
        line-height: 8px;
    }

    /* .menu-list.active {
        opacity: 1;
        transform: translateY(0);
        display: flex;
        flex-direction: column;
        transform-origin: right;
        transition: 0.3s;
    } */

    .nav-menu-display {
        transform: rotateY(0);
    }

    .menu-list .menu-item {
        margin: 15px 0;
    }

    .menu-list .menu-item:last-child {
        margin: 15px 0;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        padding: 12px 20px;
        color: var(--primary-white);
        align-items: center;
        transition: 0.2s ease-in-out;
    }

    .menu-list .menu-item a {
        color: black;
        font-weight: bold;
        font-size: small;
    }
}

.DivProfileContainer {
    margin-left: 24px;
    /* margin-top: 5%;
    margin-bottom: 2%; */
    position: relative;
    width: 32px;
    height: 32px;
    background: center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 95%;
    right: 10%;
    background-color: #80808026;
    /* min-width: 100px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;
    text-align: center;
    padding: 1px;
    width: 100px;
    border-radius: 20px;
    line-height: 50px;
    font-size: medium;
    color: black;
    font-weight: bold;
}

.dropdown-menu a {
    font-size: medium;
    color: black;
    font-weight: bold;
}

/* CSS cho phần tử gốc */
.dropdown-container {
    position: relative;
    display: inline-block;
}

/* Hiển thị dropdown menu khi phần tử gốc được hover hoặc click */
.dropdown-container:hover .dropdown-menu,
.dropdown-container:focus-within .dropdown-menu {
    display: block;
}