<div id="main-content-setting" class="css-l3wolk-DivSettingContainer e1dq5aum0">
    <div role="button" aria-label="Go back" tabindex="0" data-e2e="back-btn"
        class="css-1s5z84g-DivSettingBack e1dq5aum1"><svg class="css-45b2fy-StyledArrowLeft e1dq5aum2" width="1em"
            data-e2e="" height="1em" viewBox="0 0 48 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M4.58579 22.5858L20.8787 6.29289C21.2692 5.90237 21.9024 5.90237 22.2929 6.29289L23.7071 7.70711C24.0976 8.09763 24.0976 8.7308 23.7071 9.12132L10.8284 22H39C39.5523 22 40 22.4477 40 23V25C40 25.5523 39.5523 26 39 26H10.8284L23.7071 38.8787C24.0976 39.2692 24.0976 39.9024 23.7071 40.2929L22.2929 41.7071C21.9024 42.0976 21.2692 42.0976 20.8787 41.7071L4.58579 25.4142C3.80474 24.6332 3.80474 23.3668 4.58579 22.5858Z">
            </path>
        </svg></div>
    <div class="css-12dglg6-DivLayoutContainer e1dq5aum3">
        <div class="css-1fw1dvk-DivLayoutNav e1dq5aum4">
            <div class="css-1f4dsax-DivNavScrollContainer e1dq5aum5">
                <div data-index="0" data-e2e="nav-manage-account" role="tab" tabindex="0" aria-label="Manage account "
                    class="css-5pte1-DivNavItem e1dq5aum6"><span class="css-6ac2kf-SpanIconContainer e1dq5aum7"><svg
                            width="24" data-e2e="" height="24" viewBox="0 0 48 48" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M24.0003 7C20.1343 7 17.0003 10.134 17.0003 14C17.0003 17.866 20.1343 21 24.0003 21C27.8663 21 31.0003 17.866 31.0003 14C31.0003 10.134 27.8663 7 24.0003 7ZM13.0003 14C13.0003 7.92487 17.9252 3 24.0003 3C30.0755 3 35.0003 7.92487 35.0003 14C35.0003 20.0751 30.0755 25 24.0003 25C17.9252 25 13.0003 20.0751 13.0003 14ZM24.0003 33C18.0615 33 13.0493 36.9841 11.4972 42.4262C11.3457 42.9573 10.8217 43.3088 10.2804 43.1989L8.32038 42.8011C7.77914 42.6912 7.4266 42.1618 7.5683 41.628C9.49821 34.358 16.1215 29 24.0003 29C31.8792 29 38.5025 34.358 40.4324 41.628C40.5741 42.1618 40.2215 42.6912 39.6803 42.8011L37.7203 43.1989C37.179 43.3088 36.6549 42.9573 36.5035 42.4262C34.9514 36.9841 29.9391 33 24.0003 33Z">
                            </path>
                        </svg></span><span class="css-1qkrpk7-SpanItemContent e1dq5aum8">Manage account </span></div>
                <div data-index="1" data-e2e="nav-privacy" role="tab" tabindex="0" aria-label="Privacy"
                    class="css-5pte1-DivNavItem e1dq5aum6"><span class="css-i4qhse-SpanIconContainer e1dq5aum7"><svg
                            width="24" data-e2e="" height="24" viewBox="0 0 48 48" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M24 6C20.134 6 17 9.13401 17 13V17H31V13C31 9.13401 27.866 6 24 6ZM35 17V13C35 6.92487 30.0751 2 24 2C17.9249 2 13 6.92487 13 13V17H12C8.68629 17 6 19.6863 6 23V39C6 42.3137 8.68629 45 12 45H36C39.3137 45 42 42.3137 42 39V23C42 19.6863 39.3137 17 36 17H35ZM12 21C10.8954 21 10 21.8954 10 23V39C10 40.1046 10.8954 41 12 41H36C37.1046 41 38 40.1046 38 39V23C38 21.8954 37.1046 21 36 21H12ZM26 32.4649C27.1956 31.7733 28 30.4806 28 29C28 26.7909 26.2091 25 24 25C21.7909 25 20 26.7909 20 29C20 30.4806 20.8044 31.7733 22 32.4649V37C22 37.5523 22.4477 38 23 38H25C25.5523 38 26 37.5523 26 37V32.4649Z">
                            </path>
                        </svg></span><span class="css-vv6rvs-SpanItemContent e1dq5aum8">Privacy</span></div>
                <div data-index="2" data-e2e="nav-push" role="tab" tabindex="0" aria-label="Push notifications"
                    class="css-5pte1-DivNavItem e1dq5aum6"><span class="css-i4qhse-SpanIconContainer e1dq5aum7"><svg
                            width="24" data-e2e="" height="24" viewBox="0 0 48 48" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M24 6C30.6274 6 36 11.3726 36 18V26C36 28.0577 36.4561 30.2073 37.4628 32H10.5372C11.544 30.2073 12 28.0577 12 26V18C12 11.3726 17.3726 6 24 6ZM44 32C42.7758 32 41.8568 31.4296 41.1641 30.3906C40.4319 29.2923 40 27.7033 40 26V18C40 9.16344 32.8366 2 24 2C15.1634 2 8 9.16344 8 18V26C8 27.7033 7.56811 29.2923 6.8359 30.3906C6.1432 31.4296 5.22419 32 4 32C2.89543 32 2 32.8954 2 34C2 35.1046 2.89543 36 4 36H44C45.1046 36 46 35.1046 46 34C46 32.8954 45.1046 32 44 32ZM18.2987 40.9485C18.6631 40.3589 19.3068 40 20 40H28C28.6932 40 29.3369 40.3589 29.7013 40.9485C30.0657 41.5382 30.0988 42.2745 29.7889 42.8944L28 42C29.7889 42.8944 29.7878 42.8965 29.7878 42.8965L29.7867 42.8987L29.7844 42.9032L29.7796 42.9128L29.7684 42.9343C29.7604 42.9496 29.7511 42.967 29.7405 42.9863C29.7193 43.0248 29.6928 43.0711 29.6607 43.1239C29.5967 43.2293 29.5097 43.3621 29.3969 43.5125C29.1719 43.8125 28.8387 44.1903 28.3744 44.5617C27.4203 45.325 25.9858 46 24 46C22.0142 46 20.5797 45.325 19.6256 44.5617C19.1613 44.1903 18.8281 43.8125 18.6031 43.5125C18.4903 43.3621 18.4033 43.2293 18.3393 43.1239C18.3072 43.0711 18.2807 43.0248 18.2595 42.9863C18.2489 42.967 18.2396 42.9496 18.2316 42.9343L18.2204 42.9128L18.2156 42.9032L18.2133 42.8987L18.2122 42.8965C18.2122 42.8965 18.2111 42.8944 20 42L18.2111 42.8944C17.9012 42.2745 17.9343 41.5382 18.2987 40.9485Z">
                            </path>
                        </svg></span><span class="css-vv6rvs-SpanItemContent e1dq5aum8">Push notifications</span></div>
                <div data-index="3" data-e2e="nav-business-account" role="tab" tabindex="0"
                    aria-label="Business account" class="css-5pte1-DivNavItem e1dq5aum6"><span
                        class="css-i4qhse-SpanIconContainer e1dq5aum7"><svg width="24" data-e2e="" height="24"
                            viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M4.496 1.25L4.49737 1.25L15.4466 1.25C15.8518 1.25074 16.2496 1.3722 16.5849 1.60147L16.5886 1.60401C16.9378 1.8459 17.2023 2.19274 17.3372 2.59729L18.5939 5.87674C18.7775 6.34467 18.7999 6.85844 18.657 7.3405C18.5201 7.80257 18.2398 8.20704 17.8609 8.50268V17C17.8609 17.9665 17.0774 18.75 16.1109 18.75H3.88867C2.92218 18.75 2.13867 17.9665 2.13867 17V8.49262C1.75629 8.19412 1.47438 7.78473 1.33896 7.31707C1.19689 6.82643 1.2258 6.30462 1.41987 5.8327L2.60345 2.60315C2.73771 2.19609 3.0031 1.84708 3.35401 1.60402L3.35771 1.60146C3.69298 1.37219 4.09076 1.25074 4.496 1.25ZM15.9434 8.94402C16.0821 8.96327 16.2216 8.97264 16.3609 8.97221V17C16.3609 17.1381 16.249 17.25 16.1109 17.25H12.5277V12.7778C12.5277 11.8113 11.7442 11.0278 10.7777 11.0278H9.22213C8.25563 11.0278 7.47213 11.8113 7.47213 12.7778V17.25H3.88867C3.7506 17.25 3.63867 17.1381 3.63867 17V8.97213C3.78254 8.97324 3.92669 8.9639 4.0699 8.94402L4.07813 8.94288L4.08634 8.94156C4.56528 8.86421 5.01217 8.64712 5.36512 8.31466C5.47088 8.21534 5.61921 8.15477 5.77963 8.15477C5.94018 8.15477 6.08862 8.21544 6.1944 8.3149L6.20021 8.32037L6.20613 8.3257C6.66652 8.74051 7.26858 8.96696 7.88873 8.96696C8.50887 8.96696 9.11093 8.74051 9.57132 8.3257L9.57622 8.32129L9.58105 8.31678C9.69006 8.21503 9.84231 8.15323 10.0067 8.15323C10.171 8.15323 10.3233 8.21503 10.4323 8.31678L10.4371 8.32129L10.442 8.3257C10.9024 8.74051 11.5045 8.96696 12.1246 8.96696C12.7448 8.96696 13.3468 8.74051 13.8072 8.3257L13.8131 8.32037L13.8189 8.3149C13.9247 8.21544 14.0732 8.15477 14.2337 8.15477C14.3941 8.15477 14.5425 8.21534 14.6482 8.31466C15.0012 8.64712 15.4481 8.86421 15.927 8.94156L15.9352 8.94288L15.9434 8.94402ZM5.36512 8.31466L5.36486 8.3149L4.85118 7.7686L5.36544 8.31436L5.36512 8.31466ZM8.97213 17.25H11.0277V12.7778C11.0277 12.6397 10.9158 12.5278 10.7777 12.5278H9.22213C9.08406 12.5278 8.97213 12.6397 8.97213 12.7778V17.25ZM4.49819 2.75C4.39077 2.7503 4.2888 2.78251 4.20626 2.8384C4.11633 2.90128 4.05566 2.98632 4.02675 3.07674L4.02197 3.09167L2.81662 6.38061L2.80971 6.39701C2.74188 6.55803 2.73176 6.73407 2.77977 6.89985C2.82664 7.06173 2.92822 7.21064 3.07584 7.32105C3.12563 7.35304 3.17767 7.38205 3.23168 7.40785C3.43209 7.46944 3.64533 7.48729 3.85508 7.45943C4.04086 7.42787 4.2083 7.3437 4.33675 7.22266L4.33733 7.22212C4.72746 6.85528 5.24576 6.65477 5.77963 6.65477C6.31017 6.65477 6.82533 6.85279 7.21462 7.21528C7.39326 7.37421 7.63367 7.46696 7.88873 7.46696C8.14414 7.46696 8.38487 7.37395 8.56359 7.21461C8.95574 6.85148 9.47352 6.65323 10.0067 6.65323C10.5398 6.65323 11.0576 6.85148 11.4497 7.21461C11.6285 7.37395 11.8692 7.46696 12.1246 7.46696C12.3797 7.46696 12.6201 7.37421 12.7987 7.21527C13.188 6.85279 13.7032 6.65477 14.2337 6.65477C14.7676 6.65477 15.2859 6.85528 15.676 7.22212L15.6766 7.22266C15.805 7.3437 15.9725 7.42786 16.1583 7.45943C16.368 7.48729 16.5812 7.46943 16.7817 7.40785C16.8344 7.38263 16.8854 7.35434 16.9341 7.32321C17.075 7.21465 17.1725 7.0706 17.2189 6.91419C17.2667 6.75279 17.2594 6.58136 17.1971 6.42333L17.1957 6.41998L15.9223 3.09691L15.9158 3.07674C15.8869 2.98631 15.8263 2.90127 15.7363 2.83839C15.6538 2.7825 15.5518 2.7503 15.4444 2.75H4.49819Z">
                            </path>
                        </svg></span><span class="css-vv6rvs-SpanItemContent e1dq5aum8">Business account</span></div>
                <div data-index="4" data-e2e="nav-ads" role="tab" tabindex="0" aria-label="Ads"
                    class="css-5pte1-DivNavItem e1dq5aum6"><span class="css-i4qhse-SpanIconContainer e1dq5aum7"><svg
                            fill="currentColor" class="flip-rtl css-i42ndf-AdsIcon e2r2qy42" viewBox="0 0 48 48"
                            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em">
                            <path
                                d="M41.11 5.34A2 2 0 0 1 42 7v33.36a2 2 0 0 1-2.7 1.87l-7.88-2.97A9.89 9.89 0 0 1 23.65 43a9.77 9.77 0 0 1-9.82-10.38L8 30.42v1.24a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V16.34a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v1.78L39.23 5.15a2 2 0 0 1 1.88.19ZM8 22.44v3.7l30 11.33V10L8 22.45Zm9.87 11.7a5.91 5.91 0 0 0 9.47 3.57l-9.47-3.56Z">
                            </path>
                        </svg></span><span class="css-vv6rvs-SpanItemContent e1dq5aum8">Ads</span></div>
                <div data-index="5" data-e2e="nav-stm" role="tab" tabindex="0" aria-label="Screen time"
                    class="css-5pte1-DivNavItem e1dq5aum6"><span class="css-i4qhse-SpanIconContainer e1dq5aum7"><svg
                            fill="currentColor" font-size="24px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"
                            width="1em" height="1em">
                            <path
                                d="M11 6.64A2.64 2.64 0 0 1 13.64 4h20.72A2.64 2.64 0 0 1 37 6.64V11c0 4.52-2.3 8.5-5.81 10.83A15 15 0 0 1 39 35v6.16A2.84 2.84 0 0 1 36.16 44H11.84A2.84 2.84 0 0 1 9 41.16V35a15 15 0 0 1 7.81-13.17A12.99 12.99 0 0 1 11 11V6.64ZM24 20a9 9 0 0 0 9-9V8H15v3a9 9 0 0 0 9 9Zm0 4a11 11 0 0 0-11 11v5h22v-5a11 11 0 0 0-11-11Z">
                            </path>
                        </svg></span><span class="css-vv6rvs-SpanItemContent e1dq5aum8">Screen time</span></div>
            </div>
        </div>
        <div class="css-3kukfb-DivContentContainer e1dq5aum9">
            <div id="row-content0" class="css-1uspwvc-DivContent e1470sm20">
                <div>
                    <div class="css-1gkp6yn-DivManageContainer e1ige63y1">
                        <div data-e2e="manage-account-title" class="css-1hc1bvf-DivSettingTitle e1470sm24">Manage
                            account </div>
                        <div data-e2e="manage-account-item">
                            <div data-e2e="account-control-text" class="css-zq7bq-DivSettingSubTitle e1470sm25">Account
                                control </div>
                            <div class="css-gl3fv8-DivDeleteContainer e1ige63y2">
                                <div data-e2e="delete-account-option" class="css-1emos6j-DivSettingOption e1470sm26">
                                    Delete account</div>
                                <div role="button" aria-label="Delete account" tabindex="0" data-e2e="delete-btn"
                                    class="css-1qvzq68-DivDeleteAction e1ige63y3">Delete </div>
                            </div>
                        </div>
                        <div data-e2e="manage-account-item">
                            <div class="css-1mmeuxl-DivWebPushMargin ebuzkki2" style="height: 17px;"></div>
                            <div data-e2e="account-control-text" class="css-zq7bq-DivSettingSubTitle e1470sm25"
                                style="padding-top: 23px;">Account information</div>
                            <div class="css-3111na-DivManageAccountItemContainer e1470sm21" style="cursor: pointer;">
                                <div data-e2e="delete-account-option" class="css-1emos6j-DivSettingOption e1470sm26">
                                    Account region</div>
                                <div class="css-bc7qa0-DivSettingDescription e1470sm27">Your account region is initially
                                    set based on the time and place of registration.</div>
                                <div class="css-8y336y-DivCountry e1470sm28">Vietnam</div>
                                <div data-e2e="download-more" class="css-1ox8t85-DivArrowIcon e1s2f7nd4"><svg width="16"
                                        data-e2e="" height="16" viewBox="0 0 48 48" fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg"
                                        style="fill: rgb(22, 24, 35); fill-opacity: 0.5;">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M34.4142 22.5858L18.1213 6.29289C17.7308 5.90237 17.0976 5.90237 16.7071 6.29289L15.2929 7.70711C14.9024 8.09763 14.9024 8.7308 15.2929 9.12132L30.1716 24L15.2929 38.8787C14.9024 39.2692 14.9024 39.9024 15.2929 40.2929L16.7071 41.7071C17.0976 42.0976 17.7308 42.0976 18.1213 41.7071L34.4142 25.4142C35.1953 24.6332 35.1953 23.3668 34.4142 22.5858Z">
                                        </path>
                                    </svg></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="row-content1" class="css-1uspwvc-DivContent e1470sm20">
                <div class="css-92entz-DivPrivacyContainer e1s2f7nd0">
                    <div data-e2e="privacy-title" class="css-1hc1bvf-DivSettingTitle e1470sm24">Privacy</div>
                    <div data-e2e="privacy-item" class="css-i2eo55-DivSettingSubrow e1s2f7nd1">
                        <div data-e2e="discoverability-text" class="css-zq7bq-DivSettingSubTitle e1470sm25">
                            Discoverability </div>
                        <div data-e2e="private-account-option" class="css-1emos6j-DivSettingOption e1470sm26">Private
                            account </div>
                        <div data-e2e="private-account-desc" class="css-bc7qa0-DivSettingDescription e1470sm27">With a
                            private account, only users you approve can follow you and watch your videos. Your existing
                            followers won’t be affected.</div>
                        <div data-e2e="private-account-btn" class="css-1r9l3py-DivPrivacySwitchContainer e1s2f7nd2">
                            <button type="button" role="switch" aria-checked="false" aria-label="Private account"
                                class="css-ge3lma-ButtonSwitchContainer eoeunh02">
                                <div width="44px" height="24px" class="css-q2tggl-DivSwitchWrapper eoeunh00"><span
                                        width="20px" height="20px" class="css-1k71ajl-SpanSwitchIcon eoeunh01"></span>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="css-i2eo55-DivSettingSubrow e1s2f7nd1" style="cursor: pointer;">
                        <div data-e2e="data-text" class="css-zq7bq-DivSettingSubTitle e1470sm25">Data</div>
                        <div role="button" aria-label="Download your data" tabindex="0"
                            class="css-1sssqfi-DivOptionContainer e1s2f7nd3">
                            <div data-e2e="download-option" class="css-1emos6j-DivSettingOption e1470sm26">Download your
                                data</div>
                            <div data-e2e="download-desc" class="css-bc7qa0-DivSettingDescription e1470sm27"><span>Get a
                                    copy of your TikTok data</span></div>
                            <div data-e2e="download-more" class="css-1ox8t85-DivArrowIcon e1s2f7nd4"><svg width="16"
                                    data-e2e="" height="16" viewBox="0 0 48 48" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg"
                                    style="fill: rgb(22, 24, 35); fill-opacity: 0.5;">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M34.4142 22.5858L18.1213 6.29289C17.7308 5.90237 17.0976 5.90237 16.7071 6.29289L15.2929 7.70711C14.9024 8.09763 14.9024 8.7308 15.2929 9.12132L30.1716 24L15.2929 38.8787C14.9024 39.2692 14.9024 39.9024 15.2929 40.2929L16.7071 41.7071C17.0976 42.0976 17.7308 42.0976 18.1213 41.7071L34.4142 25.4142C35.1953 24.6332 35.1953 23.3668 34.4142 22.5858Z">
                                    </path>
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="row-content2" class="css-1uspwvc-DivContent e1470sm20">
                <div class="css-1jpbmjp-DivPushContainer ebuzkki0">
                    <div data-e2e="push-title" class="css-1hc1bvf-DivSettingTitle e1470sm24">Push notifications</div>
                    <div data-e2e="push-item">
                        <div data-e2e="desktop-notifications-text" class="css-zq7bq-DivSettingSubTitle e1470sm25">
                            Desktop notifications</div>
                        <div data-e2e="allow-in-browser-option" class="css-1emos6j-DivSettingOption e1470sm26"
                            style="margin-bottom: 3px;">Allow in browser</div>
                        <div data-e2e="allow-in-browser-desc" class="css-bc7qa0-DivSettingDescription e1470sm27">Stay on
                            top of notifications for likes, comments, the latest videos, and more on desktop. You can
                            turn them off anytime.</div>
                        <div data-e2e="allow-in-browser-btn" class="css-ioirjx-DivPushBrowserSwitch ebuzkki1"><button
                                type="button" role="switch" aria-checked="false" aria-label="Allow in browser"
                                class="css-ge3lma-ButtonSwitchContainer eoeunh02">
                                <div width="44px" height="24px" class="css-q2tggl-DivSwitchWrapper eoeunh00"><span
                                        width="20px" height="20px" class="css-1k71ajl-SpanSwitchIcon eoeunh01"></span>
                                </div>
                            </button></div>
                        <div class="css-1mmeuxl-DivWebPushMargin ebuzkki2"></div>
                    </div>
                    <div data-e2e="your-preferences-text" class="css-zq7bq-DivSettingSubTitle e1470sm25"
                        style="margin-bottom: 2px;">Your preferences</div>
                    <div data-e2e="your-preferences-desc" class="css-bc7qa0-DivSettingDescription e1470sm27">Your
                        preferences will be synced automatically to the TikTok app.</div>
                    <div class="css-6hbn4n-DivPreferenceSettingContainer ebuzkki3">
                        <div data-e2e="interactions-option" class="css-1emos6j-DivSettingOption e1470sm26"
                            style="margin: 16px 16px 3px;">Interactions</div>
                        <div class="css-bc7qa0-DivSettingDescription e1470sm27"
                            style="position: relative; margin-bottom: 16px;"><span data-e2e="interactions-desc">Likes,
                                comments, new followers, mentions and tags</span><span role="button"
                                aria-label="Interactions" tabindex="0" data-e2e="interactions-more"
                                class="css-4y93ea-SpanIconContainer ebuzkki4"><svg
                                    class="css-8308si-StyledArrowTriangleDownFill ebuzkki5" width="1em" data-e2e=""
                                    height="1em" viewBox="0 0 48 48" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M24.7125 32.0323C24.3109 32.5525 23.5252 32.5505 23.1263 32.0282L14.4015 20.6071C13.8988 19.949 14.368 19 15.1962 19H32.7385C33.569 19 34.0375 19.9537 33.53 20.6111L24.7125 32.0323Z">
                                    </path>
                                </svg></span></div>
                    </div>
                </div>
            </div>
            <div id="row-content3" class="css-1uspwvc-DivContent e1470sm20">
                <div>
                    <div class="css-jo8qt4-DivBusinessAccountContainer e1mm2yho0">
                        <div data-e2e="business-account-title" class="css-1hc1bvf-DivSettingTitle e1470sm24">Business
                            account</div>
                        <div data-e2e="business-account-item"
                            class="css-1xqbwt2-DivBusinessAccountItemContainer e1mm2yho1">
                            <div data-e2e="business-account-title" class="css-zq7bq-DivSettingSubTitle e1470sm25">
                                Business account</div>
                            <div data-e2e="business-account-desc" class="css-bc7qa0-DivSettingDescription e1470sm27">
                                Access marketing tools &amp; exclusive features through your business account to better
                                connect with viewers.</div><button type="button" role="switch" aria-checked="false"
                                class="css-ge3lma-ButtonSwitchContainer eoeunh02"
                                style="position: absolute; top: 50%; transform: translateY(-50%); right: 16px; left: unset;">
                                <div width="44px" height="24px" class="css-q2tggl-DivSwitchWrapper eoeunh00"><span
                                        width="20px" height="20px" class="css-1k71ajl-SpanSwitchIcon eoeunh01"></span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="row-content4" class="css-1uspwvc-DivContent e1470sm20">
                <div class="css-1t7m3om-DivPAContainer e2r2qy40">
                    <div data-e2e="ads-pa-title" class="css-1hc1bvf-DivSettingTitle e1470sm24">Ads</div>
                    <div data-e2e="ads-pa-item" class="css-1fpq24a-DivPAItemContainer e2r2qy41">
                        <div data-e2e="ads-pa-title" class="css-zq7bq-DivSettingSubTitle e1470sm25">Using Off-TikTok
                            activity for ad targeting</div>
                        <div data-e2e="ads-pa-desc" class="css-bc7qa0-DivSettingDescription e1470sm27">With this
                            setting, the ads you see on TikTok can be more tailored to your interests based on data that
                            advertising partners share with us about your activity on their apps and websites.
                            You will always see ads on TikTok based on what you do on TikTok or other data described in
                            our privacy policy.</div><button type="button" role="switch" aria-checked="true"
                            class="e2r2qy43 css-szcbns-ButtonSwitchContainer-AdsSwitch eoeunh02">
                            <div width="44px" height="24px" class="css-12xzmck-DivSwitchWrapper eoeunh00"><span
                                    width="20px" height="20px" class="css-9lvgjp-SpanSwitchIcon eoeunh01"></span></div>
                        </button>
                    </div>
                </div>
            </div>
            <div id="row-content5" class="css-1uspwvc-DivContent e1470sm20">
                <div>
                    <div class="css-194f7c9-DivScreenTimeSettingContainer e318nza0">
                        <div data-e2e="screen-time-title" class="css-7k9tfq-DivSettingScreenTimeTitle e1470sm22">Screen
                            time<div aria-labelledby="tux-14" data-tux-tooltip="tux-14"
                                class="css-sjmvpd-DivSettingScreenTimeIcon e1470sm23"><svg fill="currentColor"
                                    font-size="16" color="Secondary" viewBox="0 0 48 48"
                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em">
                                    <path
                                        d="M26.07 13.03a1 1 0 0 0-1-1h-2.15a1 1 0 0 0-1 1V26.4a1 1 0 0 0 1 1h2.15a1 1 0 0 0 1-1V13.03ZM22.02 35.39c.55.52 1.2.78 1.97.78.8 0 1.45-.26 1.98-.78.54-.52.81-1.17.81-1.94 0-.8-.27-1.45-.81-1.97a2.62 2.62 0 0 0-1.98-.82c-.77 0-1.42.27-1.97.82a2.67 2.67 0 0 0-.78 1.97c0 .77.26 1.42.78 1.94Z">
                                    </path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M46 24a22 22 0 1 1-44 0 22 22 0 0 1 44 0Zm-4 0a18 18 0 1 1-36 0 18 18 0 0 1 36 0Z">
                                    </path>
                                </svg></div>
                        </div>
                        <div data-e2e="screen-time-item" class="css-1p3wa3v-DivScreenTimeSettingItemContainer e318nza1">
                            <div data-e2e="screen-time-subtitle" class="css-1h6vky0-DivScreenTimeSubTitle e318nza2">
                                Daily screen time</div>
                            <div data-e2e="screen-time-desc" class="css-bc7qa0-DivSettingDescription e1470sm27">Get
                                notified if you reach your time on TikTok.</div>
                            <div class="css-112kmpl-DivArrowIcon e318nza3">
                                <div class="css-tz5zhj-DivArrowIconText e318nza4">Off</div><svg width="16" data-e2e=""
                                    height="16" viewBox="0 0 48 48" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg"
                                    style="fill: rgb(22, 24, 35); fill-opacity: 0.5;">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M34.4142 22.5858L18.1213 6.29289C17.7308 5.90237 17.0976 5.90237 16.7071 6.29289L15.2929 7.70711C14.9024 8.09763 14.9024 8.7308 15.2929 9.12132L30.1716 24L15.2929 38.8787C14.9024 39.2692 14.9024 39.9024 15.2929 40.2929L16.7071 41.7071C17.0976 42.0976 17.7308 42.0976 18.1213 41.7071L34.4142 25.4142C35.1953 24.6332 35.1953 23.3668 34.4142 22.5858Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="css-1p3wa3v-DivScreenTimeSettingItemContainer e318nza1">
                            <div data-e2e="screen-time-subtitle" class="css-1h6vky0-DivScreenTimeSubTitle e318nza2">
                                Screen time breaks</div>
                            <div data-e2e="screen-time-desc" class="css-bc7qa0-DivSettingDescription e1470sm27">Get
                                reminded to take breaks from scrolling.</div>
                            <div class="css-112kmpl-DivArrowIcon e318nza3">
                                <div class="css-tz5zhj-DivArrowIconText e318nza4">Off</div><svg width="16" data-e2e=""
                                    height="16" viewBox="0 0 48 48" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg"
                                    style="fill: rgb(22, 24, 35); fill-opacity: 0.5;">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M34.4142 22.5858L18.1213 6.29289C17.7308 5.90237 17.0976 5.90237 16.7071 6.29289L15.2929 7.70711C14.9024 8.09763 14.9024 8.7308 15.2929 9.12132L30.1716 24L15.2929 38.8787C14.9024 39.2692 14.9024 39.9024 15.2929 40.2929L16.7071 41.7071C17.0976 42.0976 17.7308 42.0976 18.1213 41.7071L34.4142 25.4142C35.1953 24.6332 35.1953 23.3668 34.4142 22.5858Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="css-1p3wa3v-DivScreenTimeSettingItemContainer e318nza1">
                            <div data-e2e="screen-time-subtitle" class="css-1h6vky0-DivScreenTimeSubTitle e318nza2">
                                Sleep reminders</div>
                            <div data-e2e="screen-time-desc" class="css-bc7qa0-DivSettingDescription e1470sm27">Get
                                reminded about your sleep time.</div>
                            <div class="css-112kmpl-DivArrowIcon e318nza3">
                                <div class="css-tz5zhj-DivArrowIconText e318nza4">Off</div><svg width="16" data-e2e=""
                                    height="16" viewBox="0 0 48 48" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg"
                                    style="fill: rgb(22, 24, 35); fill-opacity: 0.5;">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M34.4142 22.5858L18.1213 6.29289C17.7308 5.90237 17.0976 5.90237 16.7071 6.29289L15.2929 7.70711C14.9024 8.09763 14.9024 8.7308 15.2929 9.12132L30.1716 24L15.2929 38.8787C14.9024 39.2692 14.9024 39.9024 15.2929 40.2929L16.7071 41.7071C17.0976 42.0976 17.7308 42.0976 18.1213 41.7071L34.4142 25.4142C35.1953 24.6332 35.1953 23.3668 34.4142 22.5858Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="css-1p3wa3v-DivScreenTimeSettingItemContainer e318nza1">
                            <div data-e2e="screen-time-subtitle" class="css-1h6vky0-DivScreenTimeSubTitle e318nza2">
                                Weekly screen time updates</div>
                            <div data-e2e="screen-time-desc" class="css-bc7qa0-DivSettingDescription e1470sm27"><text
                                    class="text-color-TextTertiary"><span class="P2-Regular">Stay updated on your time
                                        from your </span><span class="P2-Bold">Inbox</span><span
                                        class="P2-Regular">.</span></text></div><button type="button" role="switch"
                                aria-checked="false" class="css-ge3lma-ButtonSwitchContainer eoeunh02"
                                style="position: absolute; top: 50%; transform: translateY(-50%); right: 16px; left: unset;">
                                <div width="44px" height="24px" class="css-q2tggl-DivSwitchWrapper eoeunh00"><span
                                        width="20px" height="20px" class="css-1k71ajl-SpanSwitchIcon eoeunh01"></span>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="css-qubwpm-DivScreenTimeSummaryContainer e318nza5">
                        <div class="css-xta7mi-DivScreenTimeSummaryItemContainer e318nza6">
                            <div data-e2e="screen-time-summary-subtitle" class="css-zq7bq-DivSettingSubTitle e1470sm25">
                                Summary</div>
                            <div data-e2e="screen-time-summary-desc" class="css-bc7qa0-DivSettingDescription e1470sm27">
                                <span>Your weekly metrics include your time on the app and on tiktok.com.</span><span
                                    role="button" aria-label="Interactions" tabindex="0"
                                    data-e2e="screen-time-summary-desc-arrow"
                                    class="css-1b4mcis-ScreenTimeSpanIconContainer e318nza7"><svg
                                        class="css-8308si-StyledArrowTriangleDownFill e318nza8" width="1em" data-e2e=""
                                        height="1em" viewBox="0 0 48 48" fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M24.7125 32.0323C24.3109 32.5525 23.5252 32.5505 23.1263 32.0282L14.4015 20.6071C13.8988 19.949 14.368 19 15.1962 19H32.7385C33.569 19 34.0375 19.9537 33.53 20.6111L24.7125 32.0323Z">
                                        </path>
                                    </svg></span>
                            </div>
                            <div id="screen-time-line-chart" style="width: 60%;"></div>
                        </div>
                    </div>
                    <div class="css-194f7c9-DivScreenTimeSettingContainer e318nza0">
                        <div class="css-1p3wa3v-DivScreenTimeSettingItemContainer e318nza1">
                            <div data-e2e="screen-time-subtitle" class="css-1h6vky0-DivScreenTimeSubTitle e318nza2">Help
                                and resources</div>
                            <div data-e2e="screen-time-desc" class="css-bc7qa0-DivSettingDescription e1470sm27">Digital
                                wellbeing tips</div><a class="css-xjwnb9-ADWTips e318nza21"><svg fill="currentColor"
                                    class="css-1x6bo8q" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"
                                    width="1em" height="1em">
                                    <path
                                        d="M12 4h4.4c.56 0 .84 0 1.05.1a1 1 0 0 1 .44.45c.11.21.11.49.11 1.05v1.1c0 .56 0 .84-.1 1.05a1 1 0 0 1-.45.44c-.21.11-.49.11-1.05.11H12A3.7 3.7 0 0 0 8.3 12v24a3.7 3.7 0 0 0 3.7 3.7h24a3.7 3.7 0 0 0 3.7-3.7v-4.4c0-.56 0-.84.1-1.05a1 1 0 0 1 .45-.44c.21-.11.49-.11 1.05-.11h1.1c.56 0 .84 0 1.05.1a1 1 0 0 1 .44.45c.11.21.11.49.11 1.05V36a8 8 0 0 1-8 8H12a8 8 0 0 1-8-8V12a8 8 0 0 1 8-8Z">
                                    </path>
                                    <path
                                        d="M27.54 5.77c0-.56 0-.84.1-1.05a1 1 0 0 1 .44-.44c.22-.1.5-.1 1.06-.1h12.54c1.18 0 2.15.95 2.15 2.14v12.54c0 .56 0 .84-.11 1.06a1 1 0 0 1-.44.44c-.21.1-.5.1-1.05.1h-1.1c-.56 0-.84 0-1.06-.1a1 1 0 0 1-.43-.44c-.11-.22-.11-.5-.11-1.06v-7.35L26.65 24.4c-.4.4-.6.6-.82.67a1 1 0 0 1-.62 0c-.23-.08-.43-.28-.82-.67l-.78-.78c-.4-.4-.6-.6-.67-.82a1 1 0 0 1 0-.62c.08-.23.27-.43.67-.82L36.5 8.47h-7.35c-.56 0-.84 0-1.06-.1a1 1 0 0 1-.44-.44c-.1-.22-.1-.5-.1-1.06v-1.1Z">
                                    </path>
                                </svg></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="customAlert" class="css-14feuhu" style="display: none;"><span>
        <div class="css-14feuhu-notice" style="right: 50%;">
            <div class="css-14feuhu-notice-content">
                <div role="alert" class="css-9aj0a0-DivMessageContainer e1wz89c90"
                    style="display: flex; justify-content: center; align-items: center;"><img
                        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3Ljg0MDQgNi44NTk4NkMxOC4wMzc3IDYuNjYyMDcgMTguMzU4NyA2LjY2NDI1IDE4LjU1MzMgNi44NjQ3MUwxOS40NTc0IDcuNzk2MjlDMTkuNjQ3NSA3Ljk5MjE3IDE5LjY0NTQgOC4zMDQzMiAxOS40NTI2IDguNDk3NTlMMTAuNTU4MiAxNy40MTYzQzEwLjEwNSAxNy44NzA3IDkuMzczMzMgMTcuODU5NiA4LjkzMzY2IDE3LjM5MTZMNC44MzY4MSAxMy4wMzA2QzQuNjQ5OTEgMTIuODMxNyA0LjY1NzExIDEyLjUxOTYgNC44NTI5OSAxMi4zMjk1TDUuNzgzNzQgMTEuNDI2MUM1Ljk4NDE4IDExLjIzMTUgNi4zMDUxNCAxMS4yMzg5IDYuNDk2MzkgMTEuNDQyNUw5Ljc4MjE0IDE0Ljk0MDFMMTcuODQwNCA2Ljg1OTg2WiIgZmlsbD0iIzBCRTA5QiIvPgo8L3N2Zz4K"
                        aria-hidden="true" style="width: 24px; height: 24px; margin-right: 8px;"><span
                        id="alertMessage">Settings updated
                    </span></div>
            </div>
        </div>
    </span></div>
<script>
    function showCustomAlert(message) {
        const customAlert = document.getElementById('customAlert');
        const alertMessage = document.getElementById('alertMessage');
        alertMessage.textContent = message;
        customAlert.style.display = 'flex';
        setTimeout(() => {
            customAlert.style.display = 'none';
        }, 1500);
    }
</script>