<div id="main-content-messages" style="display: none;" class="css-ppjb4t-DivLayout e1bs9h2k0">
    <div mode="0" class="css-14y9fbm-DivConversationListContainer e1axnl2b0">
        <div tabindex="0" role="button" aria-label="Back" data-e2e="back-btn"
            class="css-1jkodm9-DivBackIconContainer e1axnl2b1"><svg width="20" data-e2e="" height="20"
                viewBox="0 0 48 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M4.58579 22.5858L20.8787 6.29289C21.2692 5.90237 21.9024 5.90237 22.2929 6.29289L23.7071 7.70711C24.0976 8.09763 24.0976 8.7308 23.7071 9.12132L10.8284 22H39C39.5523 22 40 22.4477 40 23V25C40 25.5523 39.5523 26 39 26H10.8284L23.7071 38.8787C24.0976 39.2692 24.0976 39.9024 23.7071 40.2929L22.2929 41.7071C21.9024 42.0976 21.2692 42.0976 20.8787 41.7071L4.58579 25.4142C3.80474 24.6332 3.80474 23.3668 4.58579 22.5858Z">
                </path>
            </svg></div>
        <div class="css-la2i0u-DivConversationHeader e16uuwmt0">
            <h1 data-e2e="message-title" class="css-619x53-H1ListTitle e16uuwmt2">Messages</h1>
            <div tabindex="0" role="button" aria-label="Message settings" data-e2e="message-settings-icon"
                class="css-44gt5u-DivSettingIconContainer e16uuwmt3"><svg xmlns="http://www.w3.org/2000/svg" width="32"
                    height="32" fill="currentColor">
                    <use xlink:href="#setting-icon-dfe8d2a9"></use>
                </svg></div>
        </div>
        <div class="css-bh4lwh-DivListContent etdtmal5">
            <div class="etdtmal6 css-m565fe-DivScrollContainer-StyledScroll e1b4u1n1"
                style="height: 100%; padding-left: unset; padding-right: 0px;">
                <div class="css-149gota-DivScrollWrapper e1b4u1n2" style="height: 100%;">
                    <div id="more-acton-icon-0" tabindex="0" data-e2e="chat-list-item"
                        class="css-sts95t-DivItemWrapper eii3f6d3">
                        <div class="css-7d6k4j-DivItemInfo eii3f6d4">
                            <div class="css-bvlt9t-DivInfoAvatarWrapper eii3f6d5"><span shape="circle" data-e2e=""
                                    class="eii3f6d6 css-16n5gb9-SpanAvatarContainer-StyledAvatar e1e9er4e0"
                                    style="width: 56px; height: 56px;"><img loading="lazy" alt=""
                                        src="https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-giso/699b3f21cb933640a0395e002c34763c~c5_100x100.jpeg?lk3s=a5d48078&amp;x-expires=1708966800&amp;x-signature=DhmyztvZVAXDHboYwCuwoSSjNNg%3D"
                                        class="css-1zpj2q-ImgAvatar e1e9er4e1"></span>
                                <div class="css-4gp65x-DivInfoAvatarMask eii3f6d7"></div>
                            </div>
                            <div class="css-hqqyyv-DivInfoTextWrapper eii3f6d8" style="padding-left: 15px;">
                                <p class="css-2tydh5-PInfoNickname eii3f6d9">Hùng Nguyễn</p>
                            </div>
                        </div><svg fill="currentColor" role="button" tabindex="0" aria-expanded="false"
                            aria-haspopup="true" aria-controls="" data-e2e="more-action-icon"
                            class="css-1rbeczr-StyledMoreActionIcon eii3f6d0" viewBox="0 0 48 48"
                            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em">
                            <path
                                d="M5 24a4 4 0 1 1 8 0 4 4 0 0 1-8 0Zm15 0a4 4 0 1 1 8 0 4 4 0 0 1-8 0Zm15 0a4 4 0 1 1 8 0 4 4 0 0 1-8 0Z">
                            </path>
                        </svg>
                    </div>
                    <div aria-live="off" class="css-12s51wa-DivMessageStatus etdtmal7">
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="css-l5ex3n-DivScrollBar e1b4u1n0"
                    style="height: 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1) scale(-0.000364188) translateZ(1.00036px) translateZ(-2px);">
                    <div class="css-4jy5wt-DivScrollBarThumb e1b4u1n3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="css-d0yksp-DivChatBox ediam1h0">
        <div class="css-6oin0b-DivChatHeader ediam1h1">
            <div tabindex="0" role="link" aria-label="Hùng Nguyễn’s profile"
                class="css-py020d-DivChatHeaderContentWrapper ediam1h2"><a target="_blank" rel="opener" tabindex="-1"
                    aria-label="Hùng Nguyễn’s profile" class="css-1qxabns-StyledLink ediam1h8"
                    href="/@user96016055"><span shape="circle" data-e2e="top-chat-avatar"
                        class="css-tuohvl-SpanAvatarContainer e1e9er4e0" style="width: 48px; height: 48px;"><img
                            loading="lazy" alt=""
                            src="https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-giso/699b3f21cb933640a0395e002c34763c~c5_100x100.jpeg?lk3s=a5d48078&amp;x-expires=1708966800&amp;x-signature=DhmyztvZVAXDHboYwCuwoSSjNNg%3D"
                            class="css-1zpj2q-ImgAvatar e1e9er4e1"></span></a><a target="_blank" rel="opener"
                    tabindex="-1" aria-label="Hùng Nguyễn’s profile" class="css-1qxabns-StyledLink ediam1h8"
                    href="/@user96016055">
                    <div class="css-mfs62b-DivNameContainer ediam1h3">
                        <p data-e2e="chat-nickname" class="css-jqv74s-PNickname ediam1h4">Hùng Nguyễn</p>
                        <p data-e2e="chat-uniqueid" class="css-1nlqpbq-PUniqueId ediam1h5">@user96016055</p>
                    </div>
                </a></div>
        </div>
        <div class="css-96mvex-DivChatMain ediam1h6">
            <div class="css-okl125-DivChatMainContent ediam1h24"></div>
        </div>
        <div class="css-fqfkc9-DivChatBottom e1823izs0">
            <div data-e2e="message-input-area" class="css-nwil6x-DivInputAreaContainer e1823izs3">
                <div class="css-1a4kn3-DivEditorContainer e1823izs1">
                    <div class="css-80uo7o-DivInputAreaContainer ek4w0fm0">
                        <div class="css-zxf3x3-DivOutlineReceiver ek4w0fm3"></div>
                        <div class="DraftEditor-root">
                            <div class="public-DraftEditorPlaceholder-root">
                                <div class="public-DraftEditorPlaceholder-inner" id="placeholder-7nbq6">Send a
                                    message...</div>
                            </div>
                            <div class="DraftEditor-editorContainer">
                                <div aria-describedby="placeholder-7nbq6" aria-label="Send a message..."
                                    class="notranslate public-DraftEditor-content" contenteditable="true" role="textbox"
                                    spellcheck="false" tabindex="0"
                                    style="outline: none; user-select: text; overflow-wrap: break-word;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div tabindex="0" role="button" aria-expanded="false" aria-haspopup="true"
                    aria-controls="emoji-suggestion-container" class="css-12vf5cb-DivEmojiButton e1823izs4"><svg
                        class="css-138ulyj-StyledEmojiIcon e1823izs17" width="1em" data-e2e="" height="1em"
                        viewBox="0 0 48 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M24 6C14.0589 6 6 14.0589 6 24C6 33.9411 14.0589 42 24 42C33.9411 42 42 33.9411 42 24C42 14.0589 33.9411 6 24 6ZM2 24C2 11.8497 11.8497 2 24 2C36.1503 2 46 11.8497 46 24C46 36.1503 36.1503 46 24 46C11.8497 46 2 36.1503 2 24Z">
                        </path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M17 23C18.6569 23 20 21.2091 20 19C20 16.7909 18.6569 15 17 15C15.3431 15 14 16.7909 14 19C14 21.2091 15.3431 23 17 23Z">
                        </path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M31 23C32.6569 23 34 21.2091 34 19C34 16.7909 32.6569 15 31 15C29.3431 15 28 16.7909 28 19C28 21.2091 29.3431 23 31 23Z">
                        </path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M16 28.3431C16 31.4673 19.5817 36 24 36C28.4183 36 32 31.4673 32 28.3431C32 25.219 16 25.219 16 28.3431Z">
                        </path>
                    </svg></div>
            </div>
            <svg style="display: none;" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                tabindex="0" role="button" data-e2e="message-send" class="css-d7yhdo-StyledSendButton e1823izs2">
                <path fill="#FE2C55" fill-rule="evenodd"
                    d="M30.488 4.667A1.33 1.33 0 0 0 29.333 4H2.667a1.333 1.333 0 0 0-.987 2.23l6.96 7.65c.37.406.948.544 1.46.35l9.667-3.674c.112-.043.163-.025.186-.016a.3.3 0 0 1 .138.13.3.3 0 0 1 .047.184c-.003.023-.012.077-.104.154l-7.936 6.732c-.41.347-.57.905-.41 1.417l3.04 9.67a1.333 1.333 0 0 0 2.427.266L30.488 6c.238-.413.238-.92 0-1.333"
                    clip-rule="evenodd"></path>
            </svg>
        </div>
    </div>
</div>

<script>
    const mainMessages = document.getElementById('main-content-messages')
</script>