<div class="container2">
    <div class="form-container">
        <p class="title">Register</p>
        <% if (message) { %>
            <div class="alert-primary" role="alert">
                <%= message %>
            </div>
            <% } %>
                <form class="form" id="registration-form" method="POST" action="/customer/sign-up">
                    <div class="input-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="Your username" required>
                        <div class="error-message" id="username-error"></div>
                    </div>
                    <div class="input-group">
                        <label for="phone">Phone</label>
                        <div class="phone-input-container">
                            <div class="country-code">+84</div>
                            <input type="phone" name="phone" id="phone" placeholder="Your phone number" required>
                        </div>
                        <div class="error-message" id="phone-error"></div>
                    </div>

                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Your password" required>
                        <div class="error-message" id="password-error"></div>
                    </div>
                    <div class="input-group">
                        <label for="confirm-password">Confirm Password</label>
                        <input type="password" name="confirm_password" id="confirm-password"
                            placeholder="Your confirm password" required>
                        <div class="error-message" id="confirm-password-error"></div>
                    </div>

                    <button class="sign" id="sign-in-button">Sign up</button>

                </form>
                <!-- <div>
                    <button class="signup" id="sign-in-button">Sign up</button>

                </div> -->

                <div class="social-message">
                </div>
                <div class="signup">Already have an account?
                    <a rel="noopener noreferrer" href="/customer/sign-in" class="">Log in</a>
                </div>
    </div>
    <form style="display: none;" id="otpForm" class="form-otp" onsubmit="event.preventDefault(); verifyOtp();">
        <div class="otp-title">OTP</div>
        <div class="otp-title">Verification Code</div>
        <p class="otp-message">We have sent a verification code to your mobile number</p>
        <p class="otp-message" id="otp-error"></p>

        <div class="otp-inputs">
            <input id="input1" type="text" maxlength="1" oninput="moveToNextInput(this, 'input2', 'input1')">
            <input id="input2" type="text" maxlength="1" oninput="moveToNextInput(this, 'input3', 'input1')">
            <input id="input3" type="text" maxlength="1" oninput="moveToNextInput(this, 'input4', 'input2')">
            <input id="input4" type="text" maxlength="1" oninput="moveToNextInput(this, 'input5', 'input3')">
            <input id="input5" type="text" maxlength="1" oninput="moveToNextInput(this, 'input6', 'input4')">
            <input id="input6" type="text" maxlength="1" oninput="moveToNextInput(this, null, 'input5')">
        </div>
        <div class="button-otp">
            <button id="cancelButton" class="otp-action" type="button"
                onclick="window.location.href='/customer/sign-up'">Cancel</button>
            <button id="verifyButton" class="otp-action" type="submit" disabled>Verify me</button>
        </div>
    </form>
</div>
<div class="loader">
    <li class="ball"></li>
    <li class="ball"></li>
    <li class="ball"></li>
</div>
<div id="customAlert" class="css-14feuhu" style="display: none;"><span>
        <div class="css-14feuhu-notice" style="right: 50%;">
            <div class="css-14feuhu-notice-content">
                <div role="alert" class="css-9aj0a0-DivMessageContainer e1wz89c90"
                    style="display: flex; justify-content: center; align-items: center;"><img
                        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3Ljg0MDQgNi44NTk4NkMxOC4wMzc3IDYuNjYyMDcgMTguMzU4NyA2LjY2NDI1IDE4LjU1MzMgNi44NjQ3MUwxOS40NTc0IDcuNzk2MjlDMTkuNjQ3NSA3Ljk5MjE3IDE5LjY0NTQgOC4zMDQzMiAxOS40NTI2IDguNDk3NTlMMTAuNTU4MiAxNy40MTYzQzEwLjEwNSAxNy44NzA3IDkuMzczMzMgMTcuODU5NiA4LjkzMzY2IDE3LjM5MTZMNC44MzY4MSAxMy4wMzA2QzQuNjQ5OTEgMTIuODMxNyA0LjY1NzExIDEyLjUxOTYgNC44NTI5OSAxMi4zMjk1TDUuNzgzNzQgMTEuNDI2MUM1Ljk4NDE4IDExLjIzMTUgNi4zMDUxNCAxMS4yMzg5IDYuNDk2MzkgMTEuNDQyNUw5Ljc4MjE0IDE0Ljk0MDFMMTcuODQwNCA2Ljg1OTg2WiIgZmlsbD0iIzBCRTA5QiIvPgo8L3N2Zz4K"
                        aria-hidden="true" style="width: 24px; height: 24px; margin-right: 8px;"><span
                        id="alertMessage">Settings updated
                    </span></div>
            </div>
        </div>
    </span></div>

<script type="module">
    import { initializeApp } from 'https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js'
    import { getAnalytics } from 'https://www.gstatic.com/firebasejs/10.8.0/firebase-analytics.js'
    import { getAuth, signInWithPhoneNumber, RecaptchaVerifier } from 'https://www.gstatic.com/firebasejs/10.8.0/firebase-auth.js'
    import { getFirestore } from 'https://www.gstatic.com/firebasejs/10.8.0/firebase-firestore.js'
    var firebaseConfig = {
        apiKey: "AIzaSyAbjYYbreGwSN-pY5UoNZp-KF4yJcgWNV8",
        authDomain: "fir-76c15.firebaseapp.com",
        projectId: "fir-76c15",
        storageBucket: "fir-76c15.appspot.com",
        messagingSenderId: "112323394158",
        appId: "1:112323394158:web:db2d6bf8492a523ced847f",
        measurementId: "G-Q7ZQR4556T"
    };

    const app = initializeApp(firebaseConfig);
    const auth = getAuth(app);
    function showLoader() {
        var loader = document.querySelector('.loader');
        loader.classList.add('visible');
    }
    function hideLoader() {
        var loader = document.querySelector('.loader');
        loader.classList.remove('visible');
    }
    function showCustomAlert(message) {
        const customAlert = document.getElementById('customAlert');
        const alertMessage = document.getElementById('alertMessage');
        alertMessage.textContent = message;
        customAlert.style.display = 'flex';
        setTimeout(() => {
            customAlert.style.display = 'none';
        }, 1500);
    }

    document.addEventListener('DOMContentLoaded', function () {
        const messageElement = document.querySelector('.alert-primary');
        if (messageElement.textContent.trim() !== '') {
            messageElement.style.display = 'block';
            messageElement.style.color = 'red';
        }

    });

    document.addEventListener("DOMContentLoaded", function () {
        let registrationForm = document.getElementById('registration-form');
        let phoneInput = document.getElementById('phone');
        let usernameInput = document.getElementById('username');
        let passwordInput = document.getElementById('password');
        let confirmPasswordInput = document.getElementById('confirm-password');
        let usernameError = document.getElementById('username-error');
        let phoneError = document.getElementById('phone-error');
        let passwordError = document.getElementById('password-error');
        let confirmPasswordError = document.getElementById('confirm-password-error');
        let otpForm = document.querySelector('.form-otp');
        let formContainer = document.querySelector('.form-container');

        registrationForm.addEventListener('submit', async function (event) {
            event.preventDefault();

            let isValid = true;

            if (!validateUsername()) {
                isValid = false;
            }
            if (!validatePhone()) {
                isValid = false;
            }
            if (!validatePassword()) {
                isValid = false;
            }

            if (!validateConfirmPassword()) {
                isValid = false;
            }

            if (isValid) {

                showLoader();
                const phoneNumber = `+84${phoneInput.value.trim().slice(1)}`;
                console.log("phoneNumber:", phoneNumber)
                auth.languageCode = 'it';
                try {
                    window.recaptchaVerifier = await new RecaptchaVerifier(auth, 'sign-in-button', {
                        'size': 'invisible',
                        'callback': (response, err) => {
                            console.log("reCAPTCHA response:", response);
                            showCustomAlert(error)
                        }
                    });
                    window.confirmationResult = await signInWithPhoneNumber(auth, phoneNumber, window.recaptchaVerifier);
                    await hideLoader();
                    console.log("window.confirmationResult:", window.confirmationResult)
                    formContainer.remove()
                    otpForm.style.display = 'flex'
                } catch (error) {
                    console.log("error:", error)
                    showCustomAlert(error)
                    hideLoader()
                }
            }
        });


        usernameInput.addEventListener('input', validateUsername);
        phoneInput.addEventListener('input', validatePhone);
        passwordInput.addEventListener('input', validatePassword);
        confirmPasswordInput.addEventListener('input', validateConfirmPassword);

        function validatePhone() {
            let phoneValue = phoneInput.value.trim();
            const phoneRegex = /^(0\d{9})$/;
            if (!phoneRegex.test(phoneValue)) {
                phoneError.textContent = 'Please enter a valid phone number starting with 0 and containing 10 or 11 digits.';
                return false;
            } else {
                phoneError.textContent = '';
                return true;
            }
        }

        function validateUsername() {
            let usernameValue = usernameInput.value.trim();
            if (usernameValue.length < 6) {
                usernameError.textContent = 'Username must be at least 6 characters.';
                return false;
            } else {
                usernameError.textContent = '';
                return true;
            }
        }

        function validatePassword() {
            let passwordValue = passwordInput.value.trim();
            if (passwordValue.length < 6) {
                passwordError.textContent = 'Password must be at least 6 characters.';
                return false;
            } else {
                passwordError.textContent = '';
                return true;
            }
        }

        function validateConfirmPassword() {
            let confirmPasswordValue = confirmPasswordInput.value.trim();
            let passwordValue = passwordInput.value.trim();
            if (confirmPasswordValue !== passwordValue) {
                confirmPasswordError.textContent = 'Passwords do not match.';
                return false;
            } else {
                confirmPasswordError.textContent = '';
                return true;
            }
        }
    });

</script>

<script>

    function showLoader() {
        var loader = document.querySelector('.loader');
        loader.classList.add('visible');
    }
    function hideLoader() {
        var loader = document.querySelector('.loader');
        loader.classList.remove('visible');
    }
    function showCustomAlert(message) {
        const customAlert = document.getElementById('customAlert');
        const alertMessage = document.getElementById('alertMessage');
        alertMessage.textContent = message;
        customAlert.style.display = 'block';
        setTimeout(() => {
            customAlert.style.display = 'none';
        }, 1500);
    }
    function moveToNextInput(currentInput, nextInputId, prevInputId) {
        const maxLength = parseInt(currentInput.getAttribute('maxlength'));
        const currentLength = currentInput.value.length;

        if (currentLength === maxLength) {
            if (nextInputId) {
                const nextInput = document.getElementById(nextInputId);
                if (nextInput) {
                    nextInput.focus();
                }
            }
        } else if (currentLength === 0 && prevInputId && currentInput.selectionStart === 0) {
            const prevInput = document.getElementById(prevInputId);
            if (prevInput) {
                prevInput.focus();
            }
        }

        checkInputsFilled();
    }
    function checkInputsFilled() {
        const inputs = Array.from({ length: 6 }, (_, index) => document.getElementById(`input${index + 1}`).value);
        const isAllFilled = inputs.every(value => value !== '' && !isNaN(value));
        const verifyButton = document.getElementById('verifyButton');

        if (isAllFilled) {
            verifyButton.removeAttribute('disabled');
        } else {
            verifyButton.setAttribute('disabled', 'disabled');
        }
    }

    function verifyOtp() {
        const otpValue = document.getElementById('input1').value +
            document.getElementById('input2').value +
            document.getElementById('input3').value +
            document.getElementById('input4').value +
            document.getElementById('input5').value +
            document.getElementById('input6').value;
        const data = { otp: otpValue };
        // showLoader()
        // fetch('/customer/verify-otp', {
        //     method: 'POST',
        //     headers: {
        //         'Content-Type': 'application/json'
        //     },
        //     body: JSON.stringify(data)

        // })
        //     .then(response => {
        //         if (response.ok) {
        //             if (response.redirected) { window.location.href = response.url; }
        //         }
        //     })
        //     .catch(error => {
        //         console.error('Error:', error);
        //     });
        let code = otpValue
        console.log("code:", code)
        window.confirmationResult.confirm(code).then(function (result) {
            console.log("result:", result)
            console.log("result.user:", result.user)
        }).catch(function (error) {
            console.error(error);
        });
    }

</script>