<%- include("../common/head.ejs") %>
    <%- include("../common/nav-menu.ejs",customer) %>
        <div class="tiktok-14dcx2q-DivBodyContainer">
            <%- include('./customer-body/customer-message.ejs') %>
        </div>