<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TikTok Video Page</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            height: 100vh;
            overflow: hidden;
            position: relative;
        }

        .video-container {
            width: 65vw;
            height: 100vh;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
        }

        video {
            width: 45%;
            height: 100%;
            object-fit: cover;
        }


        /* CSS cho div thứ nhất và thứ hai */
        .info-contaianer {
            flex: 0 0 544px;
            width: 544px;
            display: flex;
            flex-direction: column;
            padding: 0px;
        }

        .comment-container {
            width: 100%;
            overflow: hidden auto;
            -webkit-box-flex: 1;
            flex-grow: 1;
            position: relative;
            padding: 0px 32px 24px;
        }

        .profile-wall {
            margin-left: -32px;
            margin-right: -32px;
        }

        .user-info {
            background: rgba(22, 24, 35, 0.03);
            border-radius: 12px;
            margin-left: 20px;
            margin-right: 20px;
            padding: 16px;
        }

        .avatar-name {
            display: flex;
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            padding: 0px;
            margin-bottom: 15px;
            position: relative;
            flex: 0 0 82px;
        }

        .main-content-container {
            width: 35vw;
            padding: 0px 32px;
            overflow: visible;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
        }

        .main-content {
            position: relative;
            padding: 16px 0px 0px;
        }

        .DivFlexCenterRow {
            display: flex;
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
        }

        .DivFlexCenterRow-StyledWrapper {
            display: flex;
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
        }

        .SpanIconWrapper {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            font-size: 0px;
            border-radius: 50%;
            transition: all 200ms ease-in-out 0s;
            width: 32px;
            height: 32px;
            background-color: rgba(22, 24, 35, 0.06);
            padding: 6px;
            margin-right: 6px;
        }

        *,
        *::before,
        *::after {
            box-sizing: border-box;
            -webkit-user-select: unset;
            -moz-user-select: unset;
            -ms-user-select: unset;
            user-select: unset;
        }

        :not(svg) {
            transform-origin: 0px 0px;
        }

        .DivCopyLinkContainer {
            color: rgba(22, 24, 35, 0.75);
            font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            font-size: 14px;
            line-height: 18px;
            display: flex;
            flex-direction: row;
            margin-top: 16px;
            box-sizing: border-box;
            border: 1px solid rgba(22, 24, 35, 0.12);
            border-radius: 8px;
            overflow: hidden;
        }

        .PCopyLinkText {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            flex: 1 1 auto;
            padding: 7px 0px 5px 12px;
            background-color: rgba(22, 24, 35, 0.06);
        }

        .ButtonCopyLink {
            border: none;
            background: none rgba(22, 24, 35, 0.06);
            outline: none;
            color: rgb(22, 24, 35);
            font-weight: 700;
            flex: 0 0 auto;
            cursor: pointer;
            padding: 7px 18px;
        }

        .ButtonActionItem+.ButtonActionItem {
            margin-left: 20px;
        }

        .ButtonActionItem {
            border: none;
            background: none;
            outline: none;
            padding: 0px;
            position: relative;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            cursor: pointer;
            flex-direction: row;
        }

        .DivTabMenuWrapper {
            position: sticky;
            top: -28px;
            background: rgb(255, 255, 255);
            z-index: 1;
            margin-bottom: 24px;
        }

        .DivCommentContentContainer {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            position: relative;
            margin-bottom: 8px;
        }

        .DivCommentItemContainer {
            margin-bottom: 20px;
        }

        .StyledUserLinkAvatar {
            margin-right: 12px;
        }

        .DivContentContainer {
            flex: 1 1 auto;
        }

        .DivTabMenuContainer {
            padding-top: 18px;
            height: 50px;
            display: flex;
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
        }

        .DivBorder {
            border-top: 1px solid rgba(22, 24, 35, 0.12);
            margin-left: -32px;
            margin-right: -32px;
            margin-bottom: -1px;
        }

        .style-avatar {
            display: inline-block;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-feature-settings: "tnum";
            position: relative;
            overflow: hidden;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            vertical-align: middle;
            line-height: 32px;
            border-radius: 50%;
            background-color: rgba(136, 136, 136, 0.5);
            border-color: rgba(22, 24, 35, .12);
            border-width: 0.5px;
            cursor: pointer;
            background-color: rgba(136, 136, 136, 0.5);
        }

        .SpanAvatarContainer {
            display: inline-block;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-feature-settings: "tnum";
            position: relative;
            overflow: hidden;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            vertical-align: middle;
            line-height: 32px;
            border-radius: 50%;
            background-color: rgba(136, 136, 136, 0.5);
        }

        .SpanReplyButton {
            cursor: pointer;
            color: rgba(22, 24, 35, 0.5);
            font-weight: 400;
            margin-left: 4px;
        }

        .SpanCreatedTime {
            display: inline-block;
            width: 64px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: top;
        }

        .ImgAvatar {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .DivReplyContainer {
            padding-left: 52px;
        }

        .DivBottomCommentContainer {
            flex: 0 0 auto;
            background-color: rgb(255, 255, 255);
            margin: 0px 30px;
            padding: 21px 0px;
        }

        .DivPostButton {
            color: rgb(254, 44, 85);
            font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            font-weight: 600;
            cursor: pointer;
            flex: 0 0 48px;
            font-size: 14px;
            line-height: 39px;
            text-align: right;
            margin-right: 4px;
        }

        .DivLikeIcon {
            height: 20px;
        }

        .StyledMoreIcon {
            width: 24px;
            height: 24px;
            cursor: pointer;
            display: block;
        }

        .DivLikeWrapper {
            color: rgba(22, 24, 35, 0.5);
            font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            font-size: 12px;
            line-height: 16px;
            width: 20px;
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            cursor: pointer;
        }

        .StyledChevronDownFill {
            margin-left: 6px;
            width: 14px;
            height: 14px;
            vertical-align: middle;
            transform: none;
        }

        .AShareLink {
            display: block;
            font-size: 0px;
            margin-right: 8px;
        }

        .SpanUserNameText {
            font-family: TikTokFont;
        }

        .DivCommentContainer {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: flex-end;
            -webkit-box-align: flex-end;
            -ms-flex-align: flex-end;
            align-items: flex-end;
        }

        .StrongText {
            color: rgba(22, 24, 35, 0.75);
            font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
        }

        .DivLayoutContainer {
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
        }

        .DivInputAreaContainer {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            background-color: rgba(22, 24, 35, 0.06);
            box-sizing: border-box;
            border: 1px solid transparent;
            border-radius: 8px;
            padding: 0px 9px;
        }

        .DivMoreContainer {
            position: relative;
            display: none;
        }

        .DivInputEditorContainer {
            display: block;
            flex: 1 1 auto;
            height: auto;
            margin: 10px 8px 10px 0px;
        }

        #video-description {
            border: none;
            /* Xóa viền của ô nhập */
            width: 100%;
            /* 100% chiều rộng, bạn có thể điều chỉnh giá trị này nếu cần */
            white-space: pre-wrap;
            overflow: hidden;
            /* Ẩn nội dung dư thừa khi vượt quá kích thước */
        }

        .SpanCount {
            font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            font-size: 16px;
            line-height: 21px;
            margin-left: 4px;
            height: 24px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
        }

        .DivInputAreaContainer {
            color: rgb(22, 24, 35);
            font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            min-height: 17px;
            max-height: 68px;
            word-break: break-all;
            overflow-y: auto;
            font-size: 14px;
            line-height: 17px;
        }

        .DivEmojiButton svg {
            width: 100%;
            height: 100%;
        }

        .PCommentSubContent {
            color: rgba(22, 24, 35, 0.5);
            font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            font-size: 14px;
            line-height: 18px;
        }

        .DivInputAreaContainer .public-DraftEditorPlaceholder-root {
            color: rgba(22, 24, 35, 0.75);
            font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            position: absolute;
            font-size: 14px;
            line-height: 17px;
        }

        .PReplyActionText {
            color: rgba(22, 24, 35, 0.5);
            font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            cursor: pointer;
        }

        .DivMentionButton {
            flex: 0 0 32px;
            width: 32px;
            height: 32px;
            padding: 5px;
            margin: 3px;
            cursor: pointer;
            background-color: transparent;
            border-radius: 8px;
        }

        .DivTabItem {
            color: rgba(22, 24, 35, 0.6);
            font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            font-weight: 600;
            font-size: 14px;
            overflow: auto;
            line-height: 24px;
            cursor: pointer;
            text-align: center;
        }

        .DivTabItemContainer {
            border-bottom: 2px solid rgb(22, 24, 35);
            width: 50%;
            height: 100%;
        }

        .DivTabItem {
            color: rgb(22, 24, 35);
            font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            font-weight: 700;
            font-size: 14px;
            overflow: auto;
            line-height: 24px;
            cursor: pointer;
            text-align: center;
        }

        .DivMentionButton svg {
            width: 100%;
            height: 100%;
        }

        .DivEmojiButton {
            flex: 0 0 32px;
            width: 32px;
            height: 32px;
            padding: 5px;
            margin: 3px;
            cursor: pointer;
            background-color: transparent;
            border-radius: 8px;
        }

        .DivReplyActionContainer {
            display: flex;
            flex-direction: row;
            -webkit-box-pack: justify;
            justify-content: space-between;
            position: relative;
        }

        .DivPostButton {
            color: rgba(22, 24, 35, 0.34);
            font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            font-weight: 600;
            cursor: default;
            flex: 0 0 48px;
            font-size: 14px;
            line-height: 39px;
            text-align: right;
            margin-right: 4px;
        }

        .DivTabItemContainer {
            border-bottom: none;
            width: 50%;
            height: 100%;
        }

        .PCommentText {
            font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            font-size: 16px;
            line-height: 21px;
            white-space: pre-line;
            word-break: break-word;
            margin-bottom: 6px;
        }

        .ButtonShare {
            border: none;
            background: none;
            outline: none;
            padding: 0px;
            position: relative;
            display: flex;
            width: 24px;
            height: 24px;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
            color: rgb(22, 24, 35);
        }

        .DivActionContainer {
            margin-left: 18px;
            padding-right: 2px;
            width: 24px;
            flex: 0 0 24px;
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            padding-top: 24px;
        }

        .avatar {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .user-name {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            flex: 1 1 auto;
            margin-right: 12px;
        }

        .StyledLink-StyledUserLinkName:hover,
        .StyledLink-StyledUserLinkName:active,
        .StyledLink-StyledUserLinkName:link {
            text-decoration: none;
        }

        .StyledLink-StyledUserLinkName {
            font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
        }

        .browse-username {
            font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
        }

        .browser-nickname {
            font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            font-size: 14px;
            line-height: 18px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
        }

        .description {
            font-weight: 400;
        }

        /* CSS cho đường link video */
        .video-link {
            margin-top: 10px;
        }

        .scroll-down-btn {
            position: absolute;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(187, 8, 8, 0.5);
            border-radius: 50%;
            cursor: pointer;
            border: none;
            outline: none;
            width: 40px;
            height: 40px;
            transform: rotate(90deg);
            top: 50%;
            right: 0px;
            margin-top: -20px;
        }

        .info-container {
            width: 35vw;
            height: 100vh;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div class="video-container" id="video-container">
        <!-- Video tag sẽ được chèn ở đây -->
        <video id="myVideo" controls>
            <source src=".\..\audio\donut.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <button data-e2e="arrow-right" class="scroll-down-btn"><svg viewBox="0 0 48 48" fill="#fff">
                <path
                    d="M34.4142 22.5858L18.1213 6.29289C17.7308 5.90237 17.0976 5.90237 16.7071 6.29289L15.2929 7.70711C14.9024 8.09763 14.9024 8.7308 15.2929 9.12132L30.1716 24L15.2929 38.8787C14.9024 39.2692 14.9024 39.9024 15.2929 40.2929L16.7071 41.7071C17.0976 42.0976 17.7308 42.0976 18.1213 41.7071L34.4142 25.4142C35.1953 24.6332 35.1953 23.3668 34.4142 22.5858Z">
                </path>
            </svg></button>
    </div>
    <div class="info-container">
        <!-- Div thứ nhất: Thông tin người đăng và video -->
        <div class="comment-container">
            <div class="profile-wall">
                <div class="user-info">
                    <div class="avatar-name">
                        <span shape="circle" data-e2e="" class="style-avatar " style="width: 40px; height: 40px;"><img
                                loading="lazy" alt="" src="" class="avatar">
                        </span>
                        <a target="_self" rel="opener" class="user-name" href="/@tamar.mtmobile"><span
                                data-e2e="browse-username" class="browse-username">tamar.mtmobile</span><br><span
                                data-e2e="browser-nickname" class="browser-nickname">Tamar MTmobile<span
                                    style="margin: 0px 4px;"> ·
                                </span><span>7-18</span></span></a>

                    </div>
                    <span class="description">תיקון אייפון 13 </span>

                </div>
                <!-- Div thứ hai: Thông tin tương tác -->
                <div class="main-content-container">
                    <div class="main-content">
                        <div class="DivFlexCenterRow-StyledWrapper">
                            <div class="DivFlexCenterRow"><button type="button" aria-label="3.6M fixed_likes"
                                    aria-pressed="false" class="ButtonActionItem"><span data-e2e="browse-like-icon"
                                        class="SpanIconWrapper"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                            height="20" fill="rgba(22, 24, 35, 1)">
                                            <use xlink:href="#heart-fill-03bd63df"></use>
                                        </svg></span><strong data-e2e="browse-like-count"
                                        class="StrongText">3.6M</strong></button><button type="button" disabled=""
                                    class="ButtonActionItem"><span data-e2e="browse-comment-icon"
                                        class="SpanIconWrapper"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                            height="20" fill="currentColor">
                                            <use xlink:href="#Bubble_Ellipsis_Right_Fill-a497dc09"></use>
                                        </svg></span><strong data-e2e="browse-comment-count"
                                        class="StrongText">16.3K</strong></button><button type="button"
                                    class="ButtonActionItem"><span data-e2e="undefined-icon"
                                        class="SpanIconWrapper"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                            height="20" fill="currentColor" style="color: rgb(22, 24, 35);">
                                            <use xlink:href="#uncollect-8a52664d"></use>
                                        </svg></span><strong data-e2e="undefined-count"
                                        class="StrongText">236.8K</strong></button></div>
                            <div data-e2e="browse-share-group" class="DivFlexCenterRow"><a id="icon-element-embed"
                                    mode="0" href="#" data-e2e="video-share-embed" aria-label="Embed"
                                    class="AShareLink"><svg width="24" data-e2e="" height="24" viewBox="0 0 24 24"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#161823" fill-opacity="0.75"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M12.313 7.96568C12.3665 7.65966 12.658 7.45498 12.964 7.50851C13.27 7.56203 13.4747 7.8535 13.4211 8.15951L12.0506 15.9952C11.997 16.3012 11.7056 16.5059 11.3996 16.4523C11.0936 16.3988 10.8889 16.1073 10.9424 15.8013L12.313 7.96568ZM16.2402 8.77448C15.96 8.48453 15.5058 8.48453 15.2256 8.77448C14.9454 9.06443 14.9454 9.53454 15.2256 9.82449L17.454 12.1307L15.2262 14.4364C14.946 14.7263 14.946 15.1964 15.2262 15.4864C15.5063 15.7763 15.9606 15.7763 16.2407 15.4864L19.4551 12.1598C19.4704 12.1439 19.4704 12.1182 19.4551 12.1023L19.2233 11.8623L19.2201 11.8586L19.2158 11.854L16.2402 8.77448ZM8.88972 15.4867C8.59977 15.7766 8.12966 15.7766 7.83971 15.4867L5.4207 13.0677L4.76017 12.4071L4.51191 12.1589C4.49603 12.143 4.49603 12.1173 4.51191 12.1014L7.83853 8.77477C8.12848 8.48482 8.59859 8.48482 8.88854 8.77477C9.17849 9.06472 9.17849 9.53482 8.88854 9.82478L6.58318 12.1301L8.88972 14.4367C9.17967 14.7266 9.17967 15.1967 8.88972 15.4867Z"
                                            fill="white"></path>
                                    </svg></a><a id="icon-element-message" mode="0" href="#"
                                    data-e2e="video-share-message" aria-label="Send to friends" class="AShareLink"><svg
                                        width="24" data-e2e="" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"
                                            fill="#FE2C55"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M18.7913 7.1875C18.6796 6.99413 18.4733 6.875 18.25 6.875H5.75001C5.50258 6.875 5.27845 7.02097 5.17839 7.24727C5.07834 7.47356 5.1212 7.73758 5.28771 7.9206L8.55021 11.5065C8.72305 11.6965 8.9945 11.7614 9.23456 11.6702L13.7656 9.94799C13.8184 9.92795 13.8423 9.93624 13.8527 9.94039C13.871 9.94765 13.8971 9.96649 13.9177 10.0013C13.9382 10.0361 13.9421 10.0681 13.9396 10.0876C13.9382 10.0987 13.9339 10.1237 13.8909 10.1602L10.1707 13.3155C9.97902 13.4782 9.90339 13.7398 9.97878 13.9796L11.4038 18.5124C11.4781 18.749 11.6853 18.9192 11.9317 18.9463C12.1781 18.9734 12.4173 18.8522 12.5413 18.6375L18.7913 7.81251C18.9029 7.61913 18.9029 7.38088 18.7913 7.1875Z"
                                            fill="white"></path>
                                    </svg></a><a id="icon-element-facebook" mode="0"
                                    href="https://www.facebook.com/sharer/sharer.php?app_id=113869198637480&amp;display=popup&amp;sdk=joey&amp;u=https%3A%2F%2Fwww.tiktok.com%2F%40tamar.mtmobile%2Fvideo%2F7257146236753497346%3Fis_from_webapp%3D1%26sender_device%3Dpc%26web_id%3D7187579998407149058"
                                    target="_blank" rel="noopener noreferrer" data-e2e="video-share-facebook"
                                    aria-label="Share to Facebook" class="AShareLink"><svg width="24" data-e2e=""
                                        height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M24 47C36.7025 47 47 36.7025 47 24C47 11.2975 36.7025 1 24 1C11.2975 1 1 11.2975 1 24C1 36.7025 11.2975 47 24 47Z"
                                            fill="white"></path>
                                        <path
                                            d="M24 1C11.2964 1 1 11.2964 1 24C1 35.4775 9.40298 44.9804 20.3846 46.7205L20.3936 30.6629H14.5151V24.009H20.3936C20.3936 24.009 20.3665 20.2223 20.3936 18.5363C20.4206 16.8503 20.7542 15.2274 21.6288 13.7487C22.9722 11.4586 25.0639 10.3407 27.6335 10.0251C29.7432 9.76362 31.826 10.0521 33.9087 10.3407C34.0529 10.3587 34.125 10.3767 34.2693 10.4038C34.2693 10.4038 34.2783 10.6472 34.2693 10.8005C34.2603 12.4053 34.2693 16.0839 34.2693 16.0839C33.2685 16.0659 31.6096 15.9667 30.5096 16.138C28.6884 16.4175 27.6425 17.5806 27.6064 19.4108C27.5704 20.8354 27.5884 24.009 27.5884 24.009H33.9988L32.962 30.6629H27.5974V46.7205C38.597 44.9984 47.009 35.4775 47.009 24C47 11.2964 36.7036 1 24 1Z"
                                            fill="#0075FA"></path>
                                    </svg></a><a id="icon-element-whatsapp" mode="0"
                                    href="https://wa.me/?text=https%3A%2F%2Fwww.tiktok.com%2F%40tamar.mtmobile%2Fvideo%2F7257146236753497346%3Fis_from_webapp%3D1%26sender_device%3Dpc%26web_id%3D7187579998407149058"
                                    target="_blank" rel="noopener noreferrer" data-e2e="video-share-whatsapp"
                                    aria-label="Share to WhatsApp" class="AShareLink"><svg width="24" data-e2e=""
                                        height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M24 47C36.7025 47 47 36.7025 47 24C47 11.2975 36.7025 1 24 1C11.2975 1 1 11.2975 1 24C1 36.7025 11.2975 47 24 47Z"
                                            fill="#25D366"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M30.9028 25.6129C30.5802 25.4515 28.9944 24.6713 28.6988 24.5635C28.4031 24.4559 28.1881 24.4021 27.9731 24.7249C27.758 25.0478 27.1399 25.7744 26.9517 25.9897C26.7636 26.2049 26.5754 26.2319 26.2529 26.0704C25.9303 25.909 24.891 25.5684 23.659 24.4694C22.7002 23.6141 22.0528 22.5579 21.8647 22.235C21.6765 21.9121 21.8446 21.7375 22.0061 21.5767C22.1512 21.4321 22.3287 21.2 22.4899 21.0116C22.6512 20.8233 22.705 20.6887 22.8125 20.4735C22.92 20.2582 22.8663 20.0699 22.7855 19.9085C22.7049 19.747 22.0599 18.1593 21.7911 17.5134C21.5293 16.8845 21.2634 16.9697 21.0654 16.9598C20.8774 16.9504 20.6622 16.9484 20.4472 16.9484C20.2322 16.9484 19.8827 17.0291 19.587 17.352C19.2914 17.6749 18.4581 18.4553 18.4581 20.0428C18.4581 21.6306 19.6139 23.1643 19.7752 23.3795C19.9365 23.5949 22.0496 26.8528 25.2853 28.2499C26.0548 28.5823 26.6557 28.7807 27.1241 28.9293C27.8968 29.1749 28.5999 29.1402 29.1557 29.0572C29.7754 28.9646 31.064 28.277 31.3328 27.5235C31.6016 26.7699 31.6016 26.1242 31.521 25.9897C31.4404 25.8551 31.2253 25.7744 30.9028 25.6129ZM25.0178 33.6472H25.0134C23.0881 33.6465 21.1998 33.1292 19.5524 32.1517L19.1606 31.9191L15.0998 32.9844L16.1837 29.0251L15.9286 28.6191C14.8546 26.9109 14.2873 24.9365 14.2881 22.9091C14.2905 16.9934 19.1037 12.1805 25.022 12.1805C27.8879 12.1815 30.5817 13.299 32.6076 15.3271C34.6333 17.3551 35.7482 20.0509 35.7471 22.9178C35.7447 28.8339 30.9315 33.6472 25.0178 33.6472ZM34.1489 13.7858C31.7117 11.3458 28.4706 10.0014 25.0173 10C17.902 10 12.111 15.7906 12.1082 22.908C12.1073 25.1832 12.7017 27.4039 13.8313 29.3617L12 36.0509L18.8432 34.2559C20.7287 35.2843 22.8516 35.8264 25.0121 35.827H25.0174H25.0174C32.132 35.827 37.9234 30.0359 37.9263 22.9184C37.9276 19.4691 36.5861 16.2258 34.1489 13.7858Z"
                                            fill="white"></path>
                                    </svg></a><a id="icon-element-twitter" mode="0"
                                    href="https://twitter.com/intent/tweet?refer_source=https%3A%2F%2Fwww.tiktok.com%2F%40tamar.mtmobile%2Fvideo%2F7257146236753497346%3Fis_from_webapp%3D1%26sender_device%3Dpc%26web_id%3D7187579998407149058&amp;text=https%3A%2F%2Fwww.tiktok.com%2F%40tamar.mtmobile%2Fvideo%2F7257146236753497346%3Fis_from_webapp%3D1%26sender_device%3Dpc%26web_id%3D7187579998407149058"
                                    target="_blank" rel="noopener noreferrer" data-e2e="video-share-twitter"
                                    aria-label="Share to Twitter" class="AShareLink"><svg width="24" data-e2e=""
                                        height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M24.0002 47.001C36.7028 47.001 47.0002 36.7035 47.0002 24.001C47.0002 11.2984 36.7028 1.00098 24.0002 1.00098C11.2977 1.00098 1.00024 11.2984 1.00024 24.001C1.00024 36.7035 11.2977 47.001 24.0002 47.001Z"
                                            fill="#1DA1F2"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M38.2029 13.5327C37.3894 14.0824 35.5215 14.8813 34.6003 14.8813V14.8829C33.5484 13.7237 32.0675 13 30.4252 13C27.2353 13 24.6488 15.7287 24.6488 19.0925C24.6488 19.5598 24.7001 20.0157 24.795 20.4529H24.794C20.4671 20.3331 15.7348 18.0452 12.886 14.1294C11.1344 17.3277 12.6501 20.8848 14.6378 22.1809C13.9574 22.235 12.7049 22.0982 12.1153 21.4913C12.0758 23.6142 13.0434 26.4269 16.5714 27.4473C15.8919 27.8329 14.6892 27.7223 14.1662 27.6402C14.3497 29.4322 16.7285 31.775 19.3297 31.775C18.4026 32.9063 14.9144 34.9582 11 34.3054C13.6584 36.0118 16.7568 37 20.0362 37C29.3556 37 36.5929 29.0322 36.2034 19.2027C36.2019 19.1919 36.2019 19.1811 36.2009 19.1693C36.2019 19.144 36.2034 19.1187 36.2034 19.0925C36.2034 19.0619 36.2009 19.0331 36.2 19.0035C37.0484 18.3914 38.1868 17.3087 39 15.8836C38.5284 16.1577 37.1134 16.7064 35.7968 16.8426C36.6418 16.3615 37.8937 14.7858 38.2029 13.5327Z"
                                            fill="white"></path>
                                    </svg></a><button aria-expanded="false" aria-label="Share" class="ButtonShare"><svg
                                        width="16" data-e2e="" height="16" viewBox="0 0 48 48" fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M26.4588 3.90871C25.3403 2.86068 23.4902 3.64074 23.4902 5.16041V13.0502C20.4499 14.1752 11.3194 18.1407 6.6047 26.6176C-1.49677 42.1311 3.82522 43.478 5.77105 39.7411C13.2467 29.1857 20.8146 30.4298 23.4902 31.3209V38.2274C23.4902 39.7114 25.2658 40.5055 26.4023 39.5298L43.3681 24.9655C44.9268 23.6274 44.9791 21.2608 43.4811 19.8573L26.4588 3.90871Z">
                                        </path>
                                    </svg></button></div>
                        </div>
                        <div class="DivCopyLinkContainer">
                            <p data-e2e="browse-video-link" class="PCopyLinkText">
                                https://www.tiktok.com/@tamar.mtmobile/video/7257146236753497346?is_from_webapp=1&amp;sender_device=pc&amp;web_id=7187579998407149058
                            </p><button data-e2e="browse-copy" class="ButtonCopyLink">Copy link
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="DivTabMenuWrapper">
                <div class="DivTabMenuContainer">
                    <div class="DivTabItemContainer">
                        <div class="DivTabItem">Comments (16300)</div>
                    </div>
                    <div class="DivTabItemContainer">
                        <div class="DivTabItem">Creator videos</div>
                    </div>
                </div>
                <div class="DivBorder"></div>
            </div>
            <div class="DivCommentItemContainer">
                <div id="7259257836726125313" class="DivCommentContentContainer"><a data-e2e="comment-avatar-1"
                        class="StyledUserLinkAvatar" href="/@mindepzaiiiii" style="flex: 0 0 40px;"><span shape="circle"
                            data-e2e="" class="SpanAvatarContainer" style="width: 40px; height: 40px;"><img
                                loading="lazy" alt=""
                                src="https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tos-alisg-avt-0068/a2692ded2265f8f0882e8567e8a6be99.jpg?x-expires=1696600800&amp;x-signature=Urs5AwBlGcNrAmDcSj2RuFfccLY%3D"
                                class="ImgAvatar"></span></a>
                    <div class="DivContentContainer"><a class="StyledLink-StyledUserLinkName"
                            href="/@mindepzaiiiii"><span data-e2e="comment-username-1" class="SpanUserNameText">Mìn
                                đepzaiii:))
                            </span></a>
                        <p data-e2e="comment-level-1" class="PCommentText"><span dir="">bà này chắc dán móng tay giả =
                                keo 502:)))</span></p>
                        <p class="PCommentSubContent"><span data-e2e="comment-time-1"
                                class="SpanCreatedTime">7-24</span><span aria-label="Reply" role="button"
                                data-e2e="comment-reply-1" tabindex="0" class="SpanReplyButton">Reply</span></p>
                    </div>
                    <div class="DivActionContainer">
                        <div aria-label="more" role="button" tabindex="0" class="DivMoreContainer">
                            <div data-e2e="comment-more-icon"><svg class="StyledMoreIcon" width="1em" data-e2e=""
                                    height="1em" viewBox="0 0 48 48" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M4 24C4 21.7909 5.79086 20 8 20C10.2091 20 12 21.7909 12 24C12 26.2091 10.2091 28 8 28C5.79086 28 4 26.2091 4 24ZM20 24C20 21.7909 21.7909 20 24 20C26.2091 20 28 21.7909 28 24C28 26.2091 26.2091 28 24 28C21.7909 28 20 26.2091 20 24ZM36 24C36 21.7909 37.7909 20 40 20C42.2091 20 44 21.7909 44 24C44 26.2091 42.2091 28 40 28C37.7909 28 36 26.2091 36 24Z">
                                    </path>
                                </svg></div>
                        </div>
                        <div aria-label="Like video
        {number} likes" aria-pressed="false" role="button" tabindex="0" class="DivLikeWrapper">
                            <div data-e2e="comment-like-icon" class="DivLikeIcon"><svg width="20" data-e2e=""
                                    height="20" viewBox="0 0 48 48" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M24 9.01703C19.0025 3.74266 11.4674 3.736 6.67302 8.56049C1.77566 13.4886 1.77566 21.4735 6.67302 26.4016L22.5814 42.4098C22.9568 42.7876 23.4674 43 24 43C24.5326 43 25.0432 42.7876 25.4186 42.4098L41.327 26.4016C46.2243 21.4735 46.2243 13.4886 41.327 8.56049C36.5326 3.736 28.9975 3.74266 24 9.01703ZM21.4938 12.2118C17.9849 8.07195 12.7825 8.08727 9.51028 11.3801C6.16324 14.7481 6.16324 20.214 9.51028 23.582L24 38.1627L38.4897 23.582C41.8368 20.214 41.8368 14.7481 38.4897 11.3801C35.2175 8.08727 30.0151 8.07195 26.5062 12.2118L26.455 12.2722L25.4186 13.3151C25.0432 13.6929 24.5326 13.9053 24 13.9053C23.4674 13.9053 22.9568 13.6929 22.5814 13.3151L21.545 12.2722L21.4938 12.2118Z">
                                    </path>
                                </svg></div><span data-e2e="comment-like-count" class="SpanCount"
                                style="margin-left: 0px; margin-right: 0px;">136</span>
                        </div>
                    </div>
                </div>
                <div class="DivReplyContainer">
                    <div class="DivReplyActionContainer">
                        <p aria-label="View 8 replies" role="button" tabindex="0" data-e2e="view-more-1"
                            class="PReplyActionText">View 8 replies<svg class="StyledChevronDownFill" width="1em"
                                data-e2e="" height="1em" viewBox="0 0 48 48" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M21.8788 33.1213L7.58586 18.8284C7.19534 18.4379 7.19534 17.8047 7.58586 17.4142L10.4143 14.5858C10.8048 14.1953 11.438 14.1953 11.8285 14.5858L24.0001 26.7574L36.1716 14.5858C36.5622 14.1953 37.1953 14.1953 37.5859 14.5858L40.4143 17.4142C40.8048 17.8047 40.8048 18.4379 40.4143 18.8284L26.1214 33.1213C24.9498 34.2929 23.0503 34.2929 21.8788 33.1213Z">
                                </path>
                            </svg></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="DivBottomCommentContainer">
            <div class="DivCommentContainer">
                <div class="DivLayoutContainer">
                    <div data-e2e="comment-input" class="DivInputAreaContainer">
                        <div data-e2e="comment-text" class="DivInputEditorContainer">
                            <input type="text" id="video-description" placeholder="Add comment...">
                        </div>
                        <div aria-label="&quot;@&quot; a user to tag them in your comments" aria-expanded="false"
                            role="button" tabindex="0" data-e2e="comment-at-icon" class="DivMentionButton"><svg
                                width="1em" data-e2e="" height="1em" viewBox="0 0 48 48" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M24 6C14.0589 6 6 14.0589 6 24C6 33.9411 14.0589 42 24 42C28.0553 42 31.7921 40.6614 34.8006 38.401L35.6001 37.8003C36.0416 37.4686 36.6685 37.5576 37.0003 37.9992L38.2016 39.5981C38.5334 40.0397 38.4443 40.6666 38.0028 40.9983L37.2033 41.599C33.5258 44.3619 28.9513 46 24 46C11.8497 46 2 36.1503 2 24C2 11.8497 11.8497 2 24 2C36.1503 2 46 11.8497 46 24V26C46 30.4843 42.1949 34 37.8438 34C35.1966 34 32.8496 32.7142 31.3935 30.733C29.5649 32.7403 26.9303 34 24 34C18.4772 34 14 29.5228 14 24C14 18.4772 18.4772 14 24 14C29.5228 14 34 18.4772 34 24C34 24.5814 33.9502 25.1528 33.8541 25.7096C33.8473 25.8052 33.8438 25.902 33.8438 26C33.8438 28.2091 35.6347 30 37.8438 30C40.1201 30 42 28.1431 42 26V24C42 14.0589 33.9411 6 24 6ZM24 18C20.6863 18 18 20.6863 18 24C18 27.3137 20.6863 30 24 30C26.9395 30 29.3891 27.8841 29.9013 25.0918C29.9659 24.7392 30 24.3744 30 24C30 20.6863 27.3137 18 24 18Z">
                                </path>
                            </svg></div>
                        <div aria-label="Click to add emojis" aria-expanded="false" role="button" tabindex="0"
                            data-e2e="comment-emoji-icon" class="DivEmojiButton"><svg width="1em" data-e2e=""
                                height="1em" viewBox="0 0 48 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M24 6C14.0589 6 6 14.0589 6 24C6 33.9411 14.0589 42 24 42C33.9411 42 42 33.9411 42 24C42 14.0589 33.9411 6 24 6ZM2 24C2 11.8497 11.8497 2 24 2C36.1503 2 46 11.8497 46 24C46 36.1503 36.1503 46 24 46C11.8497 46 2 36.1503 2 24Z">
                                </path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M17 23C18.6569 23 20 21.2091 20 19C20 16.7909 18.6569 15 17 15C15.3431 15 14 16.7909 14 19C14 21.2091 15.3431 23 17 23Z">
                                </path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M31 23C32.6569 23 34 21.2091 34 19C34 16.7909 32.6569 15 31 15C29.3431 15 28 16.7909 28 19C28 21.2091 29.3431 23 31 23Z">
                                </path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M16 28.3431C16 31.4673 19.5817 36 24 36C28.4183 36 32 31.4673 32 28.3431C32 25.219 16 25.219 16 28.3431Z">
                                </path>
                            </svg></div>
                    </div>
                </div>
                <div aria-disabled="false" aria-label="Post" role="button" tabindex="0" data-e2e="comment-post"
                    class="DivPostButton">Post</div>
            </div>
        </div>
    </div>



    <script>
        const video = document.getElementById("myVideo");

        // Bắt đầu phát video khi trang tải
        video.addEventListener("loadedmetadata", () => {
            video.play();
        });

        // Khi video kết thúc, chạy lại video (lặp lại)
        video.addEventListener("ended", () => {
            video.currentTime = 0; // Đặt lại thời gian video về 0 để chơi lại từ đầu
            video.play();
        });
    </script>
</body>

</html>