<svg style="position:absolute;width:0;height:0" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" ariahidden="true" id="svg-sprite-container">
    <symbol data-count="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 118 42" id="logo-dark-1ef9a37a">
        <path fill="#25F4EE"
            d="M9.875 16.842v-1.119A8.836 8.836 0 0 0 8.7 15.64c-4.797-.006-8.7 3.9-8.7 8.707a8.706 8.706 0 0 0 3.718 7.135A8.675 8.675 0 0 1 1.38 25.55c0-4.737 3.794-8.598 8.495-8.707Z">
        </path>
        <path fill="#25F4EE"
            d="M10.086 29.526c2.14 0 3.89-1.707 3.967-3.83l.006-18.968h3.463a6.78 6.78 0 0 1-.11-1.202h-4.726l-.006 18.969a3.978 3.978 0 0 1-3.967 3.829 3.93 3.93 0 0 1-1.846-.46 3.949 3.949 0 0 0 3.22 1.662Zm13.906-16.36v-1.055a6.506 6.506 0 0 1-3.583-1.068 6.571 6.571 0 0 0 3.583 2.123Z">
        </path>
        <path fill="#FE2C55"
            d="M20.409 11.043a6.54 6.54 0 0 1-1.616-4.315h-1.265a6.557 6.557 0 0 0 2.88 4.316ZM8.706 20.365a3.98 3.98 0 0 0-3.973 3.976c0 1.528.869 2.858 2.134 3.523a3.936 3.936 0 0 1-.754-2.321 3.98 3.98 0 0 1 3.973-3.976c.409 0 .805.07 1.175.185v-4.833a8.837 8.837 0 0 0-1.175-.083c-.07 0-.134.006-.204.006v3.708a3.999 3.999 0 0 0-1.176-.185Z">
        </path>
        <path fill="#FE2C55"
            d="M23.992 13.166v3.676c-2.453 0-4.727-.786-6.58-2.116v9.621c0 4.802-3.902 8.714-8.706 8.714a8.669 8.669 0 0 1-4.988-1.579 8.69 8.69 0 0 0 6.368 2.781c4.797 0 8.707-3.906 8.707-8.714v-9.621a11.25 11.25 0 0 0 6.579 2.116v-4.73c-.48 0-.94-.052-1.38-.148Z">
        </path>
        <path fill="black"
            d="M17.413 24.348v-9.622a11.251 11.251 0 0 0 6.58 2.116v-3.676a6.571 6.571 0 0 1-3.584-2.123 6.61 6.61 0 0 1-2.888-4.315H14.06l-.006 18.968a3.978 3.978 0 0 1-3.967 3.83A3.99 3.99 0 0 1 6.86 27.87a3.991 3.991 0 0 1-2.133-3.523A3.98 3.98 0 0 1 8.7 20.372c.409 0 .805.07 1.175.185v-3.708c-4.701.103-8.495 3.964-8.495 8.701 0 2.29.888 4.373 2.338 5.933a8.669 8.669 0 0 0 4.988 1.58c4.798 0 8.707-3.913 8.707-8.714Zm12.635-11.169h14.774l-1.354 4.232h-3.832v15.644h-4.778V17.41l-4.804.006-.006-4.238Zm38.984 0h15.12l-1.355 4.232h-4.17v15.644h-4.785V17.41l-4.804.006-.006-4.238ZM45.73 19.502h4.733v13.553h-4.708l-.026-13.553Zm6.617-6.374h4.733v9.257l4.689-4.61h5.646l-5.934 5.76 6.644 9.52h-5.213l-4.433-6.598-1.405 1.362v5.236H52.34V13.128h.006Zm50.143 0h4.734v9.257l4.688-4.61h5.647l-5.934 5.76 6.643 9.52h-5.206l-4.433-6.598-1.405 1.362v5.236h-4.734V13.128Zm-54.397 4.826a2.384 2.384 0 0 0 2.382-2.384 2.384 2.384 0 1 0-2.382 2.384Z">
        </path>
        <path fill="#25F4EE"
            d="M83.544 24.942a8.112 8.112 0 0 1 7.474-8.087 8.748 8.748 0 0 0-.709-.026c-4.478 0-8.106 3.631-8.106 8.113 0 4.482 3.628 8.113 8.106 8.113.21 0 .498-.013.71-.026-4.178-.326-7.475-3.823-7.475-8.087Z">
        </path>
        <path fill="#FE2C55"
            d="M92.858 16.83c-.217 0-.505.012-.716.025a8.111 8.111 0 0 1 7.468 8.087 8.112 8.112 0 0 1-7.468 8.087c.211.02.499.026.716.026 4.478 0 8.106-3.631 8.106-8.113 0-4.482-3.628-8.113-8.106-8.113Z">
        </path>
        <path fill="black"
            d="M91.58 28.887a3.94 3.94 0 0 1-3.94-3.945 3.94 3.94 0 1 1 7.882 0c0 2.18-1.77 3.945-3.942 3.945Zm0-12.058c-4.477 0-8.106 3.631-8.106 8.113 0 4.482 3.629 8.113 8.106 8.113 4.478 0 8.106-3.631 8.106-8.113 0-4.482-3.628-8.113-8.106-8.113Z">
        </path>
    </symbol>
    <symbol data-count="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" id="eh-logo-a5ac4daf">
        <path fill="black"
            d="M0 18V9a9 9 0 0 1 18 0v9H0Zm15.75-2.25V9a6.75 6.75 0 0 0-9.978-5.93 6.744 6.744 0 0 1 6.619 2.971A4.483 4.483 0 0 1 13.5 9v6.75h2.25ZM6.502 5.257A4.5 4.5 0 0 0 2.25 9.75v6H4.5V9c0-1.56.795-2.936 2.002-3.743Zm4.096 2.16A2.25 2.25 0 0 0 6.75 9v6.75h4.5v-6a4.48 4.48 0 0 0-.652-2.333Z">
        </path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 8" id="tip_arrow_white-99f4b53c">
        <path d="M0 8c7 0 10-8 12-8s5 8 12 8z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16" id="system-notif-inbox-icon-1efa9bd8">
        <path fill="white"
            d="M14.24 0c.828 0 1.56.454 1.808 1.123l1.78 4.81c.113.307.172.63.172.955V14.4c0 .425-.2.832-.555 1.131-.355.3-.837.469-1.34.469H1.895a2.08 2.08 0 0 1-1.34-.469C.2 15.232 0 14.824 0 14.4V6.888c0-.325.059-.648.173-.955l1.78-4.81C2.202.455 2.934 0 3.762 0H14.24Zm-.918 2.133H4.678c-.284 0-.54.15-.651.379l-.031.079-.982 3.16a.5.5 0 0 0 .477.649h11.017a.5.5 0 0 0 .478-.648l-.983-3.161c-.083-.27-.363-.457-.681-.458Z">
        </path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" id="Music_Note-8c658968">
        <path
            d="M35 10.76a1 1 0 0 0-1.22-.98l-15.99 3.64a1 1 0 0 0-.78.97V38c.03 2.17-2.2 4.43-5.4 5.28-3.56.96-6.96-.2-7.6-2.57-.63-2.37 1.74-5.07 5.3-6.02a9.2 9.2 0 0 1 3.7-.25V14.39a5 5 0 0 1 3.9-4.87l15.98-3.64A5 5 0 0 1 39 10.76v22.36c.08 2.2-2.17 4.5-5.4 5.36-3.56.95-6.96-.2-7.6-2.57-.63-2.38 1.74-5.08 5.3-6.03a9.2 9.2 0 0 1 3.7-.25V10.76Z">
        </path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" id="Play_Fill-6957a00f">
        <path d="M43 26.6a3 3 0 0 0 0-5.2L14.5 4.95a3 3 0 0 0-4.5 2.6v32.9a3 3 0 0 0 4.5 2.6L43 26.6Z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" id="Ellipsis_Horizontal_Fill-9ee69fcf">
        <path
            d="M4 24a5 5 0 1 1 10 0 5 5 0 0 1-10 0Zm15 0a5 5 0 1 1 10 0 5 5 0 0 1-10 0Zm20-5a5 5 0 1 0 0 10 5 5 0 0 0 0-10Z">
        </path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="heart-fill-03bd63df">
        <g fill-rule="evenodd" clip-path="url(#heart-fill-03bd63df_a)" clip-rule="evenodd">
            <path
                d="M7.5 2.25c3 0 4.5 2 4.5 2s1.5-2 4.5-2c3.5 0 6 2.75 6 6.25 0 4-3.269 7.566-6.25 10.25C14.41 20.407 13 21.5 12 21.5s-2.45-1.101-4.25-2.75C4.82 16.066 1.5 12.5 1.5 8.5c0-3.5 2.5-6.25 6-6.25Z">
            </path>
            <path fill="black" fill-opacity=".03"
                d="M2.402 12.2c1.187 2.497 3.357 4.727 5.348 6.55C9.55 20.399 11 21.5 12 21.5s2.41-1.093 4.25-2.75c2.98-2.684 6.25-6.25 6.25-10.25 0-.087-.002-.174-.005-.26C20.567 13.661 13.68 18.5 11.75 18.5c-1.437 0-6.14-2.687-9.348-6.3Z">
            </path>
        </g>
        <defs>
            <clipPath id="heart-fill-03bd63df_a">
                <path fill="white" d="M0 0h24v24H0z"></path>
            </clipPath>
        </defs>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" id="Bubble_Ellipsis_Right_Fill-a497dc09">
        <path
            d="M3.5 21.44C3.5 11.47 13.04 4 24 4s20.5 7.47 20.5 17.44c0 5.85-2.93 10.69-6.47 14.37a41.67 41.67 0 0 1-11.06 7.97A2.05 2.05 0 0 1 24 41.95v-3.08c-10.96 0-20.5-7.47-20.5-17.43Zm11.79 3.07a2.56 2.56 0 1 0 0-5.12 2.56 2.56 0 0 0 0 5.12Zm8.71 0a2.56 2.56 0 1 0 0-5.12 2.56 2.56 0 0 0 0 5.12Zm11.27-2.56a2.56 2.56 0 1 0-5.12 0 2.56 2.56 0 0 0 5.12 0Z">
        </path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="uncollect-8a52664d">
        <path fill="currentColor"
            d="M4 4.5a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v15.13a1 1 0 0 1-1.555.831l-6.167-4.12a.5.5 0 0 0-.556 0l-6.167 4.12A1 1 0 0 1 4 19.63V4.5Z">
        </path>
        <path fill="currentColor" fill-opacity=".03"
            d="M4.032 4.144A1.894 1.894 0 0 0 4 4.5v15.13a1 1 0 0 0 1.555.831l6.167-4.12a.5.5 0 0 1 .41-.066l-.427-.198a1.489 1.489 0 0 0-1.377.063c-.581.339-1.45.85-2.25 1.339-.59.359-1.427.695-2.187.962-.929.325-1.86-.387-1.86-1.37V4.143Zm8.251 12.202 6.162 4.115A1 1 0 0 0 20 19.63V4.5a2 2 0 0 0-1.123-1.798c.21.254.334.58.33.936a117.008 117.008 0 0 1-.896 13.408c-.124.99-1.17 1.553-2.076 1.133l-3.952-1.833Z">
        </path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="pc-share-44d9fe83">
        <path fill="currentColor" fill-rule="evenodd"
            d="M10.938 3.175a.674.674 0 0 1 1.138-.488l6.526 6.215c.574.547.554 1.47-.043 1.991l-6.505 5.676a.674.674 0 0 1-1.116-.508V13.49s-6.985-1.258-9.225 2.854c-.209.384-1.023.518-.857-1.395.692-3.52 2.106-9.017 10.082-9.017V3.175Z"
            clip-rule="evenodd"></path>
        <path fill="#161823" fill-rule="evenodd"
            d="m15.754 6.212 1.295 2.59a1.122 1.122 0 0 1-.268 1.349l-5.799 5.042s-.28 1.403.562 1.403c.842 0 7.578-6.174 7.578-6.174s.28-.842-.561-1.684c-.843-.842-2.807-2.526-2.807-2.526Z"
            clip-rule="evenodd" opacity=".03"></path>
        <path fill="url(#pc-share-44d9fe83_a)" fill-rule="evenodd"
            d="M10.937 6.23v7.297s-6.683-.942-8.777 2.246C.146 18.839.331 12.309 3.363 9.057c3.033-3.252 7.574-2.827 7.574-2.827Z"
            clip-rule="evenodd" opacity=".09"></path>
        <defs>
            <radialGradient id="pc-share-44d9fe83_a" cx="0" cy="0" r="1"
                gradientTransform="rotate(-113.046 11.628 5.43) scale(8.93256 8.78076)" gradientUnits="userSpaceOnUse">
                <stop></stop>
                <stop offset=".995" stop-opacity=".01"></stop>
                <stop offset="1" stop-opacity=".01"></stop>
            </radialGradient>
        </defs>
    </symbol>
</svg>
<div id="main-content-homepage_hot" class="css-1t4vwes-DivMainContainer ec6jhlz0">
    <div class="css-9fq6q2-DivOneColumnContainer e108hwin0">
    </div>
    <div class="css-hpmci4-DivBottomContainer ew8lpw50"><button aria-label="Scroll to the top"
            class="css-sv88au-ButtonIconContainer ejylfo50"><svg width="16" data-e2e="" height="16" viewBox="0 0 48 48"
                fill="#FFF" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M22.1086 20.3412C23.1028 19.2196 24.8972 19.2196 25.8914 20.3412L42.8955 39.5236C44.2806 41.0861 43.1324 43.5 41.004 43.5L6.99596 43.5C4.86764 43.5 3.71945 41.0861 5.10454 39.5235L22.1086 20.3412Z">
                </path>
                <path
                    d="M4.5 7.5C4.5 5.84315 5.84315 4.5 7.5 4.5L40.5 4.5C42.1569 4.5 43.5 5.84315 43.5 7.5C43.5 9.15685 42.1569 10.5 40.5 10.5L7.5 10.5C5.84315 10.5 4.5 9.15685 4.5 7.5Z">
                </path>
            </svg></button></div>
</div>


<script>
    const videos = JSON.parse('<%- JSON.stringify(videos) %>');
    if (videos) {
        const videoContainer = document.querySelector('.css-9fq6q2-DivOneColumnContainer');
        videos.forEach(video => {
            const videoDiv = document.createElement('div');
            videoDiv.className = 'css-14bp9b0-DivItemContainer';
            videoDiv.innerHTML = `
             <div data-e2e="recommend-list-item-container" class="css-14bp9b0-DivItemContainer etvrc4k0"><a class="avatar-anchor etvrc4k4 css-m1rpgs-StyledLink er1vbsz0" data-e2e="video-author-avatar" aria-label="Adam’s profile" href="/@_sonofadam_6">
                <div class="css-uha12h-DivContainer e1vl87hj1" style="width: 56px; height: 56px;"><span shape="circle" data-e2e="" class="e1vl87hj2 css-gcksof-SpanAvatarContainer-StyledAvatar e1e9er4e0" style="width: 56px; height: 56px;"><img loading="lazy" alt="" src='${video.user.logo}'></span></div>
            </a>
                <div class="css-1l0odge-DivContentContainer etvrc4k1">
                    <div class="css-1hhj6ie-DivTextInfoContainer etvrc4k7">
                        <div class="css-1mnwhn0-DivAuthorContainer etvrc4k6"><a class="avatar-anchor etvrc4k4 css-m1rpgs-StyledLink er1vbsz0" href="/@_sonofadam_6">
                            <div class="css-uha12h-DivContainer e1vl87hj1" style="width: 40px; height: 40px;"><span shape="circle" data-e2e="" class="e1vl87hj2 css-gcksof-SpanAvatarContainer-StyledAvatar e1e9er4e0" style="width: 40px; height: 40px;"><img loading="lazy" alt="" class="css-1zpj2q-ImgAvatar e1e9er4e1"></span></div>
                        </a><a class="emt6k1z1 css-1ew4g6u-StyledLink-StyledAuthorAnchor er1vbsz0" href="/@_sonofadam_6">
                                <h3 data-e2e="video-author-uniqueid" class="css-1k5oywg-H3AuthorTitle emt6k1z0">${video.user.username}</h3>
                                <h4 data-e2e="video-author-nickname" class="css-mc6xrz-H4AuthorName emt6k1z2">${video.user.name}</h4>
                            </a></div><button class="e4an5uj1 css-1847gtm-Button-StyledFollowButtonTux e1v8cfre0" data-e2e="feed-follow">
                            <div class="css-jp3752-ButtonContent e1v8cfre2">
                                <div class="css-1djnsui-ButtonLabel e1v8cfre3">Follow</div>
                            </div>
                        </button>
                        <div class="css-bs495z-DivWrapper e1mzilcj0">
                            <div class="css-1rhses0-DivText e1mzilcj1" style="max-height: unset;">
                                <div class="css-mokgbx-DivBtnWrapper e1mzilcj4"><button type="button" class="css-1r94cis-ButtonExpand e1mzilcj2">more</button></div>
                                <div data-e2e="video-desc" class="css-1iy6zew-DivContainer ejg0rhn0">${video.caption}</div>
                            </div>
                        </div>
                        <div class="css-9s4tdv-DivMusicTagsWrapper etvrc4k9">
                            <h4 data-e2e="video-music" class="css-1dx8yl-H4Link epjbyn0"><a target="_self" rel="opener" class="epjbyn1 css-v80f7r-StyledLink-StyledLink er1vbsz0" aria-label="Watch more videos with music original sound - 🍪" href="/music/original-sound-7059518787955034882"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="rgba(22, 24, 35, 1)" styletype="0" class="css-wyuo16-MusicNoteIcon epjbyn4">
                                <use xlink: href="#Music_Note-8c658968"></use>
                            </svg>
                                <div class="css-pvx3oa-DivMusicText epjbyn3">original sound - 🍪</div>
                            </a></h4>
                            <div class="css-1483eyc-DivAnchorTagWrapper e1sksq2r0"></div>
                        </div>
                    </div>
                    <div class="css-1kep9d3-DivVideoWrapper e1bh0wg711">
                        <div tabindex="0" role="button" aria-label="Watch in full screen" id="one-column-item-0" data-e2e="feed-video" class="css-9oopl7-DivVideoCardContainer e1bh0wg71" style="background-image: url(&quot;${video.cover};);"><canvas width="56.25" height="100" class="css-196h150-CanvasVideoCardPlaceholder e1bh0wg70"></canvas>
                            <div class="css-rnjquf-DivVideoPlayerContainer e1bh0wg710">
                                <div mode="0" class="css-yf3ohr-DivContainer e1yey0rl0" style="overflow: hidden; border-radius: 8px;">
                                    <div class="css-41hm0z"><span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;">
                                    </span></div>
                                    <div class="css-1fofj7p-DivBasicPlayerWrapper e1yey0rl2">
                                        <div id="xgwrapper-0-7272363336711392530" class="tiktok-web-player no-controls" style="width: 100%; height: 100%;"><video playsinline="" preload="auto" crossorigin="use-credentials" style="width: 100%; height: 100%;"></video>
                                        </div>
                                    </div>
                                </div>
                                <div tabindex="0" role="button" aria-label="Play" aria-pressed="true" data-e2e="video-play" class="css-mlcjt3-DivPlayIconContainer-StyledDivPlayIconContainer e1bh0wg73"><svg width="20" data-e2e="" height="20" viewBox="0 0 48 48" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 6C8 5.44771 8.44772 5 9 5H17C17.5523 5 18 5.44772 18 6V42C18 42.5523 17.5523 43 17 43H9C8.44772 43 8 42.5523 8 42V6Z">
                                    </path>
                                    <path d="M30 6C30 5.44771 30.4477 5 31 5H39C39.5523 5 40 5.44772 40 6V42C40 42.5523 39.5523 43 39 43H31C30.4477 43 30 42.5523 30 42V6Z">
                                    </path>
                                </svg></div>
                                <div class="css-q09c19-DivVoiceControlContainer e1bh0wg76">
                                    <div data-e2e="video-sound" tabindex="0" role="button" aria-label="Volume" aria-pressed="true" class="css-105iyqb-DivMuteIconContainer e1bh0wg75"><svg width="24" data-e2e="" height="24" viewBox="0 0 48 48" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.3359 8.37236C22.3296 7.04325 25 8.47242 25 10.8685V37.1315C25 39.5276 22.3296 40.9567 20.3359 39.6276L10.3944 33H6C4.34314 33 3 31.6568 3 30V18C3 16.3431 4.34315 15 6 15H10.3944L20.3359 8.37236ZM21 12.737L12.1094 18.6641C11.7809 18.8831 11.3948 19 11 19H7V29H11C11.3948 29 11.7809 29.1169 12.1094 29.3359L21 35.263V12.737ZM32.9998 24C32.9998 21.5583 32.0293 19.3445 30.4479 17.7211C30.0625 17.3255 29.9964 16.6989 30.3472 16.2724L31.6177 14.7277C31.9685 14.3011 32.6017 14.2371 33.0001 14.6195C35.4628 16.9832 36.9998 20.3128 36.9998 24C36.9998 27.6872 35.4628 31.0168 33.0001 33.3805C32.6017 33.7629 31.9685 33.6989 31.6177 33.2724L30.3472 31.7277C29.9964 31.3011 30.0625 30.6745 30.4479 30.2789C32.0293 28.6556 32.9998 26.4418 32.9998 24ZM37.0144 11.05C36.6563 11.4705 36.7094 12.0995 37.1069 12.4829C40.1263 15.3951 42.0002 19.4778 42.0002 23.9999C42.0002 28.522 40.1263 32.6047 37.1069 35.5169C36.7094 35.9003 36.6563 36.5293 37.0144 36.9498L38.3109 38.4727C38.6689 38.8932 39.302 38.9456 39.7041 38.5671C43.5774 34.9219 46.0002 29.7429 46.0002 23.9999C46.0002 18.2569 43.5774 13.078 39.7041 9.43271C39.302 9.05421 38.6689 9.10664 38.3109 9.52716L37.0144 11.05Z">
                                        </path>
                                    </svg></div>
                                </div>
                                <div class="css-fxqf0v-DivVideoControlBottom e1n49v430"></div>
                                <div tabindex="0" class="css-1n67qnj-DivIconWrapper e1bh0wg78"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor">
                                    <use xlink: href="#Ellipsis_Horizontal_Fill-9ee69fcf"></use>
                                </svg></div>
                            </div>
                        </div>
                        <div class="css-1cifsuk-DivActionItemContainer e1whjx9o0"><button type="button" aria-label="Like video
5.5M likes" aria-pressed="false" class="css-1ok4pbl-ButtonActionItem e1hk3hf90"><span data-e2e="like-icon" class="css-6jur1x-SpanIconWrapper e1hk3hf91" style="color: rgb(22, 24, 35);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor">
                                <use xlink: href="#heart-fill-03bd63df"></use>
                            </svg></span><strong data-e2e="like-count" class="css-w1dlre-StrongText e1hk3hf92">${video.likes}</strong></button><button type="button" aria-label="Read or add comments
43.7K comments" class="css-1ok4pbl-ButtonActionItem e1hk3hf90"><span data-e2e="comment-icon" class="css-6jur1x-SpanIconWrapper e1hk3hf91" style="color: rgb(22, 24, 35);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor">
                                    <use xlink: href="#Bubble_Ellipsis_Right_Fill-a497dc09"></use>
                                </svg></span><strong data-e2e="comment-count" class="css-w1dlre-StrongText e1hk3hf92">${video.commentsCount}</strong></button><button type="button" aria-label="Add to Favorites. 733.3K added to Favorites" class="css-1ok4pbl-ButtonActionItem e1hk3hf90"><span data-e2e="undefined-icon" class="css-6jur1x-SpanIconWrapper e1hk3hf91" style="color: rgb(22, 24, 35);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor">
                                    <use xlink: href="#uncollect-8a52664d"></use>
                                </svg></span><strong data-e2e="undefined-count" class="css-w1dlre-StrongText e1hk3hf92">0</strong></button><button type="button" aria-label="Share video
180.6K shares" aria-expanded="false" class="css-1ok4pbl-ButtonActionItem e1hk3hf90"><span data-e2e="share-icon" class="css-6jur1x-SpanIconWrapper e1hk3hf91" style="color: rgb(22, 24, 35);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor">
                                    <use xlink: href="#pc-share-44d9fe83"></use>
                                </svg></span><strong data-e2e="share-count" class="css-w1dlre-StrongText e1hk3hf92">0</strong></button></div>
                    </div>
                </div>
            </div>
            `
            videoContainer.appendChild(videoDiv);
            videoDiv.addEventListener('click', function () {
                window.location.href = `/customer/video/${video.id}`

            })
        });
    }
</script>