<footer id="footer">
    <div class="footer-info">
        <%- include('./footer-contact.ejs', { address, email, phone }) %>
            <%- include('./footer-menu.ejs') %>
    </div>
    <div class="footer-copyright">© Copyright by Vani. All rights reserved.</div>
</footer>