<div class="footer-brand">
    <div class="brand-logo"><img src="/img/logo/logo.jpg" alt="logo vani"></div>
    <div class="brand-name">GPT GROUP</div>
    <div class="brand-slogan">MAKE A DIFFERENCE</div>
</div>