<div id="main-content-messages" style="display: none;" class="css-ppjb4t-DivLayout e1bs9h2k0">
    <div mode="0" class="css-14y9fbm-DivConversationListContainer e1axnl2b0">
        <div tabindex="0" role="button" aria-label="Back" data-e2e="back-btn"
            class="css-1jkodm9-DivBackIconContainer e1axnl2b1"><svg width="20" data-e2e="" height="20"
                viewBox="0 0 48 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M4.58579 22.5858L20.8787 6.29289C21.2692 5.90237 21.9024 5.90237 22.2929 6.29289L23.7071 7.70711C24.0976 8.09763 24.0976 8.7308 23.7071 9.12132L10.8284 22H39C39.5523 22 40 22.4477 40 23V25C40 25.5523 39.5523 26 39 26H10.8284L23.7071 38.8787C24.0976 39.2692 24.0976 39.9024 23.7071 40.2929L22.2929 41.7071C21.9024 42.0976 21.2692 42.0976 20.8787 41.7071L4.58579 25.4142C3.80474 24.6332 3.80474 23.3668 4.58579 22.5858Z">
                </path>
            </svg></div>
        <div class="css-la2i0u-DivConversationHeader e16uuwmt0">
            <h1 data-e2e="message-title" class="css-619x53-H1ListTitle e16uuwmt2">Messages</h1>
            <div tabindex="0" role="button" aria-label="Message settings" data-e2e="message-settings-icon"
                class="css-44gt5u-DivSettingIconContainer e16uuwmt3"><svg xmlns="http://www.w3.org/2000/svg" width="32"
                    height="32" fill="currentColor">
                    <path fill="#161823" stroke="#161823" stroke-width=".5"
                        d="M27.551 19.094a1 1 0 0 0 .079-.121l.005-.01.03-.065h.001l.028-.074.001-.003.022-.076v-.002l.004-.015.002-.01c.204-.866.308-1.779.308-2.714 0-.9-.103-1.814-.307-2.718l-.004-.017v-.002l-.001-.003-.011-.043-.001-.003-.013-.041-.002-.007-.013-.036-.005-.01a1 1 0 0 0-.117-.21l-.005-.007-.023-.028-.006-.007-.053-.059-.01-.009-.021-.02-.013-.012a1 1 0 0 0-.075-.06l-.014-.01-.026-.017-.01-.006-.03-.018-.008-.005-.073-.037-.007-.002-.034-.015-.008-.003a1 1 0 0 0-.284-.06h-.007l-.04-.002h-.026a2.77 2.77 0 0 1-2.392-1.38 2.76 2.76 0 0 1 .012-2.77l.002-.003.02-.037.003-.005.018-.036.003-.008.015-.034.004-.012a1 1 0 0 0 .042-.14l.003-.012.006-.033.002-.01.005-.036v-.007l.004-.038V7.97l.002-.038v-.044l-.001-.011-.002-.032-.001-.016-.006-.049-.003-.021-.005-.027-.003-.016-.008-.03-.002-.012-.01-.034-.003-.009-.012-.035-.002-.007-.014-.035-.003-.007-.015-.033-.004-.009a1 1 0 0 0-.132-.202l-.006-.006-.027-.03-.004-.004-.03-.03-.003-.002-.005-.006-.011-.01a12.1 12.1 0 0 0-4.71-2.721l-.014-.005-.008-.002h-.003l-.04-.012-.007-.001-.039-.01h-.009a1 1 0 0 0-.195-.017h-.011l-.036.002h-.007l-.038.005h-.006l-.04.006-.004.001-.04.008-.005.001-.037.01-.009.002-.033.01-.013.004-.028.01-.017.007-.023.01-.022.009-.017.008-.026.013-.013.007-.029.016-.01.006-.066.044-.008.006a1 1 0 0 0-.122.108 1 1 0 0 0-.08.096l-.004.006-.023.035-.003.004-.022.036-.002.003A2.77 2.77 0 0 1 16 6.317a2.79 2.79 0 0 1-2.405-1.402l-.002-.002-.022-.037-.002-.004-.05-.07-.008-.009-.02-.024-.011-.013-.034-.035-.013-.013-.021-.02-.01-.008-.026-.022-.006-.006-.03-.023-.005-.003-.032-.023-.004-.002-.034-.022-.005-.002-.034-.02-.008-.004-.03-.015-.014-.006-.027-.012-.019-.008-.021-.008-.026-.01q-.008-.001-.015-.004l-.032-.01-.01-.003-.036-.008-.008-.002-.037-.007-.006-.001-.039-.006h-.006l-.037-.004-.01-.001-.032-.002h-.062a1 1 0 0 0-.096.009l-.011.001-.038.007H12.6a1 1 0 0 0-.087.022l-.003.001-.012.004-.012.004a12.1 12.1 0 0 0-4.7 2.72l-.01.01-.006.006-.003.002-.061.064-.006.006-.023.028-.008.01a1 1 0 0 0-.08.122l-.006.012-.015.03-.004.009-.015.033-.003.007-.014.035-.002.007-.012.035-.003.009-.01.034-.002.011-.008.031q0 .009-.003.016l-.005.027-.003.021-.003.022-.003.027-.001.016-.002.032v.093l.001.007.004.038v.007l.005.037.002.009.006.033.003.013a1 1 0 0 0 .06.185l.005.008.017.036.003.005.02.037.002.003c.5.854.505 1.915.012 2.77a2.77 2.77 0 0 1-2.4 1.38H5.19l-.04.001h-.008l-.038.003-.01.002a1 1 0 0 0-.191.04l-.01.004-.034.012-.007.003-.036.015-.005.002-.036.017-.005.003-.034.018-.006.004-.068.042-.012.009a1 1 0 0 0-.11.092l-.01.01-.023.024-.007.007-.052.062-.005.007-.02.029-.007.009a1 1 0 0 0-.09.171l-.005.012-.013.035-.003.007-.012.04-.001.004-.011.043v.003l-.001.003-.004.016a12.4 12.4 0 0 0-.307 2.718c0 .935.103 1.848.308 2.714l.002.011.004.014v.002a1 1 0 0 0 .05.153l.032.065.005.01a1 1 0 0 0 .079.121l.013.017.037.044.013.013.04.04.01.01a1 1 0 0 0 .117.09l.004.003a1 1 0 0 0 .13.071l.004.002q.033.015.068.027l.005.002q.067.023.137.035l.017.003.062.008.023.002.051.002h.021a2.77 2.77 0 0 1 2.414 1.38 2.76 2.76 0 0 1-.012 2.77l-.002.003-.02.037-.003.005-.035.078-.005.012a1 1 0 0 0-.051.186l-.002.009-.005.036v.007l-.004.038v.007l-.002.038v.055l.003.033.001.015q0 .015.003.028 0 .01.003.02 0 .012.003.023l.005.026.003.016.007.03.003.013.01.033.003.009.012.035.002.007.014.035q0 .004.003.007l.015.033.004.01a1 1 0 0 0 .072.123 1 1 0 0 0 .06.078l.005.006q.03.034.062.064l.002.003.006.004.011.011a12 12 0 0 0 4.728 2.73h.002a1 1 0 0 0 .128.028l.008.001q.032.005.063.007h.005l.053.002h.018l.06-.002.02-.002.048-.006.018-.003a1 1 0 0 0 .135-.033l.012-.004.056-.02.008-.004.06-.028.008-.004a1 1 0 0 0 .12-.075l.002-.001.056-.044.004-.004.05-.047.002-.002a1 1 0 0 0 .093-.11l.011-.017.024-.037.014-.021q0-.002.003-.005A2.79 2.79 0 0 1 16 25.683c.99 0 1.911.536 2.402 1.398l.004.006a1 1 0 0 0 .08.118l.02.024.033.035.013.015a1 1 0 0 0 .107.091l.01.007a1 1 0 0 0 .108.068l.017.008.048.023.015.007.063.023.02.006.044.013.031.007a1 1 0 0 0 .104.017l.032.003.049.002h.028q.027 0 .052-.002l.017-.001a1 1 0 0 0 .115-.017l.015-.004.05-.013.008-.002a12 12 0 0 0 4.735-2.729l.012-.01.005-.005.002-.003.03-.03.004-.003.028-.03.005-.007a1 1 0 0 0 .152-.244l.003-.007.014-.035.002-.006.012-.036.002-.008.029-.12q0-.01.003-.02l.005-.05.002-.016.002-.031v-.056l-.001-.038v-.007l-.004-.038v-.007l-.006-.036-.001-.01a1 1 0 0 0-.092-.275l-.002-.005-.02-.037-.002-.003a2.76 2.76 0 0 1-.012-2.77 2.77 2.77 0 0 1 2.392-1.38h.035l.051-.002.024-.002.06-.008q.01 0 .018-.003a1 1 0 0 0 .136-.035l.007-.002.067-.027.005-.002a1 1 0 0 0 .128-.07l.006-.004a1 1 0 0 0 .115-.09l.013-.011a1 1 0 0 0 .102-.113Zm-4.782.812a4.64 4.64 0 0 0-.322 3.943 10.1 10.1 0 0 1-2.862 1.655A4.65 4.65 0 0 0 16 23.808a4.66 4.66 0 0 0-3.582 1.697 10.1 10.1 0 0 1-2.858-1.656 4.64 4.64 0 0 0-.322-3.943 4.65 4.65 0 0 0-3.263-2.255 10.2 10.2 0 0 1 .004-3.302 4.65 4.65 0 0 0 3.26-2.255 4.64 4.64 0 0 0 .321-3.942 10.2 10.2 0 0 1 2.86-1.655A4.66 4.66 0 0 0 16 8.192a4.65 4.65 0 0 0 3.583-1.694 10.2 10.2 0 0 1 2.864 1.654 4.64 4.64 0 0 0 .322 3.942 4.65 4.65 0 0 0 3.252 2.254 10.3 10.3 0 0 1 .004 3.303 4.65 4.65 0 0 0-3.256 2.255Z">
                    </path>
                    <path fill="#161823" stroke="#161823" stroke-width=".5"
                        d="M16 11.115A4.89 4.89 0 0 0 11.115 16 4.89 4.89 0 0 0 16 20.885 4.89 4.89 0 0 0 20.885 16 4.89 4.89 0 0 0 16 11.115Zm0 7.395A2.514 2.514 0 0 1 13.49 16 2.514 2.514 0 0 1 16 13.49 2.513 2.513 0 0 1 18.51 16 2.513 2.513 0 0 1 16 18.51Z">
                    </path>
                </svg></div>
        </div>
        <div class="css-bh4lwh-DivListContent etdtmal5">
            <div class="etdtmal6 css-m565fe-DivScrollContainer-StyledScroll e1b4u1n1"
                style="height: 100%; padding-left: unset; padding-right: 0px;">
                <div class="css-149gota-DivScrollMessage" style="height: 100%;">
                </div>
                <div class="css-l5ex3n-DivScrollBar e1b4u1n0"
                    style="height: 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1) scale(-0.000364188) translateZ(1.00036px) translateZ(-2px);">
                    <div class="css-4jy5wt-DivScrollBarThumb e1b4u1n3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="css-d0yksp-DivChatBox ediam1h0">
        <div style="display: none;" class="css-6oin0b-DivChatHeader ediam1h1">
        </div>
        <div class="css-96mvex-DivChatMain ediam1h6">
        </div>
        <div style="display: none;" class="css-fqfkc9-DivChatBottom e1823izs0">
            <div data-e2e="message-input-area" class="css-nwil6x-DivInputAreaContainer e1823izs3">
                <div class="css-1a4kn3-DivEditorContainer e1823izs1">
                    <div class="css-80uo7o-DivInputAreaContainer ek4w0fm0">
                        <div class="css-zxf3x3-DivOutlineReceiver ek4w0fm3"></div>
                        <div class="DraftEditor-root">
                            <div class="public-DraftEditorPlaceholder-root">
                                <div class="public-DraftEditorPlaceholder-inner" id="placeholder-aj9h7"
                                    style="white-space: pre-wrap;">Send a message...</div>
                            </div>
                            <div class="DraftEditor-editorContainer">
                                <div aria-describedby="placeholder-aj9h7" aria-label="Send a message..."
                                    class="notranslate public-DraftEditor-content" contenteditable="true" role="textbox"
                                    spellcheck="false" tabindex="0"
                                    style="outline: none; user-select: text; overflow-wrap: break-word;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div tabindex="0" role="button" aria-expanded="false" aria-haspopup="true"
                    aria-controls="emoji-suggestion-container" class="css-12vf5cb-DivEmojiButton e1823izs4"><svg
                        class="css-138ulyj-StyledEmojiIcon e1823izs17" width="1em" data-e2e="" height="1em"
                        viewBox="0 0 48 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M24 6C14.0589 6 6 14.0589 6 24C6 33.9411 14.0589 42 24 42C33.9411 42 42 33.9411 42 24C42 14.0589 33.9411 6 24 6ZM2 24C2 11.8497 11.8497 2 24 2C36.1503 2 46 11.8497 46 24C46 36.1503 36.1503 46 24 46C11.8497 46 2 36.1503 2 24Z">
                        </path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M17 23C18.6569 23 20 21.2091 20 19C20 16.7909 18.6569 15 17 15C15.3431 15 14 16.7909 14 19C14 21.2091 15.3431 23 17 23Z">
                        </path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M31 23C32.6569 23 34 21.2091 34 19C34 16.7909 32.6569 15 31 15C29.3431 15 28 16.7909 28 19C28 21.2091 29.3431 23 31 23Z">
                        </path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M16 28.3431C16 31.4673 19.5817 36 24 36C28.4183 36 32 31.4673 32 28.3431C32 25.219 16 25.219 16 28.3431Z">
                        </path>
                    </svg></div>
            </div>
            <svg style="display: none;" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                tabindex="0" role="button" data-e2e="message-send" class="css-d7yhdo-StyledSendButton e1823izs2">
                <path fill="#FE2C55" fill-rule="evenodd"
                    d="M30.488 4.667A1.33 1.33 0 0 0 29.333 4H2.667a1.333 1.333 0 0 0-.987 2.23l6.96 7.65c.37.406.948.544 1.46.35l9.667-3.674c.112-.043.163-.025.186-.016a.3.3 0 0 1 .138.13.3.3 0 0 1 .047.184c-.003.023-.012.077-.104.154l-7.936 6.732c-.41.347-.57.905-.41 1.417l3.04 9.67a1.333 1.333 0 0 0 2.427.266L30.488 6c.238-.413.238-.92 0-1.333"
                    clip-rule="evenodd"></path>
            </svg>
        </div>
    </div>
</div>

<script>
    const mainMessages = document.getElementById('main-content-messages')
    const divScrollMessage = document.querySelector('.css-149gota-DivScrollMessage')
    const divChatBox = document.querySelector('.css-d0yksp-DivChatBox')
    const divDivChatHeader = divChatBox.querySelector('.css-6oin0b-DivChatHeader')
    const divChatMain = divChatBox.querySelector('.css-96mvex-DivChatMain')
    const divChatBottom = document.querySelector('.css-fqfkc9-DivChatBottom')
    const text = document.querySelector('.notranslate.public-DraftEditor-content')
    const placeHolder = document.getElementById('placeholder-aj9h7')
    let inputElement = divChatBox.querySelector('.DraftEditor-editorContainer');
    let sendMessage = divChatBox.querySelector('.css-d7yhdo-StyledSendButton')
    const divBackIconContainer = document.querySelector('.css-1jkodm9-DivBackIconContainer')

    let conversations
    let indexCurrentContact
    function renderContact(conversations) {
        divScrollMessage.innerHTML = ''
        if (conversations.length <= 0) {
            return
        }
        conversations.forEach((conversation, index) => {
            let user = conversation.user_id
            let participant = conversation.participant_id
            if (user.id === customer.id) {
                user = participant
            }
            const divContact = `
    <div id="more-acton-icon-0" tabindex="0" data-e2e="chat-list-item" class="css-1gs3mwd-DivItemWrapper">
        <div class="css-7d6k4j-DivItemInfo eii3f6d4">
            <div class="css-bvlt9t-DivInfoAvatarWrapper eii3f6d5"><span shape="circle" data-e2e=""
                    class="eii3f6d6 css-16n5gb9-SpanAvatarContainer-StyledAvatar e1e9er4e0"
                    style="width: 56px; height: 56px;"><img loading="lazy" alt=""
                        src="${user.logo}"
                        class="css-1zpj2q-ImgAvatar e1e9er4e1"></span>
                <div class="css-4gp65x-DivInfoAvatarMask eii3f6d7"></div>
            </div>
            <div class="css-hqqyyv-DivInfoTextWrapper eii3f6d8">
                <p class="css-2tydh5-PInfoNickname eii3f6d9">${user.name}</p>
            </div>
        </div>
        <span style="display:none" class="css-62oc03-SpanNewMessage"></span>
        <svg fill="currentColor" role="button" tabindex="0" aria-expanded="false" aria-haspopup="true"
            aria-controls="" data-e2e="more-action-icon" class="css-1rbeczr-StyledMoreActionIcon eii3f6d0"
            viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em">
            <path
                d="M5 24a4 4 0 1 1 8 0 4 4 0 0 1-8 0Zm15 0a4 4 0 1 1 8 0 4 4 0 0 1-8 0Zm15 0a4 4 0 1 1 8 0 4 4 0 0 1-8 0Z">
            </path>
        </svg>
    </div>
        `
            divScrollMessage.innerHTML += divContact;
        }
        )
    }

    function handleTabClick(divItemWrappers, divItemWrapper) {
        divItemWrappers.forEach(divItemWrapper => {
            divItemWrapper.classList = 'css-1gs3mwd-DivItemWrapper'
        })
        divItemWrapper.classList = 'css-sts95t-DivItemWrapper'
    }

    function renderDivDivChatHeader(conversation) {
        let user = conversation.user_id
        let participant = conversation.participant_id
        if (user.id !== customer.id) {
            participant = user
        }

        const divHeader = `
<div tabindex="0" role="link" aria-label="${participant.name} profile"
    class="css-py020d-DivChatHeaderContentWrapper ediam1h2"><a target="_blank" rel="opener" tabindex="-1"
        aria-label="${participant.name} profile" class="css-1qxabns-StyledLink ediam1h8" href="/customer/profile/${participant.id}"><span
            shape="circle" data-e2e="top-chat-avatar" class="css-tuohvl-SpanAvatarContainer e1e9er4e0"
            style="width: 48px; height: 48px;"><img loading="lazy" alt=""
                src="${participant.logo}"
                class="css-1zpj2q-ImgAvatar e1e9er4e1"></span></a><a target="_blank" rel="opener" tabindex="-1"
        aria-label="Hùng Nguyễn23652’s profile" class="css-1qxabns-StyledLink ediam1h8" href="/customer/profile/${participant.id}">
        <div class="css-mfs62b-DivNameContainer ediam1h3">
    <p data-e2e="chat-nickname" class="css-jqv74s-PNickname ediam1h4">${participant.name}</p>
    <p data-e2e="chat-uniqueid" class="css-1nlqpbq-PUniqueId ediam1h5">${participant.username}</p>
</div>
    </a></div>
`
        return divHeader
    }

    function renderDivChatMain(conversation) {
        let divMessages = ''
        let participant = conversation.participant_id
        let user = conversation.user_id
        let messages = conversation.messages

        if (messages.length <= 0) {
            return
        }

        messages.sort((a, b) => new Date(a.createAt) - new Date(b.createAt));

        for (let message of messages) {
            const options = { year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' };
            const formattedDate = new Date(message.createAt).toLocaleDateString(undefined, options);

            let logo = customer.logo
            let userId = customer.ids
            let divMessageContainer = 'css-101150x-DivMessageContainer'

            if (message.user_id !== customer.id) {
                divMessageContainer = 'css-qkrs52-DivMessageContainer'
                userId = user.id
                logo = message.user_id === participant.id ? participant.logo : user.logo
            }

            const divMessage = `
<div class="css-okl125-DivChatMainContent ediam1h24">
    <div class="css-1jzidcu-DivTimeContainer ediam1h7"><span tabindex="0">${formattedDate}</span></div>
    <div data-e2e="chat-item" class="css-ca9jkb-DivChatItemWrapper e9j91380">
        <div tabindex="0" class="${divMessageContainer}"><a tabindex="-1"
                class="css-22xkqc-StyledLink er1vbsz0" href="/customer/profile/${userId}"><span shape="circle"
                    data-e2e="chat-avatar" class="css-tuohvl-SpanAvatarContainer e1e9er4e0"
                    style="width: 32px; height: 32px;"><img loading="lazy" alt=""
                        src="${logo}"
                        class="css-1zpj2q-ImgAvatar e1e9er4e1"></span></a>
            <div class="css-1r46dss-DivTextContainer e9j91382">
                <p class="css-1rdxtjl-PText e9j91385">${message.text}</p>
            </div>
            <div data-e2e="dm-warning"></div>
            <div tabindex="0" role="button" aria-haspopup="true" aria-expanded="false"
                class="css-1v4ad6m-DivIconMore e9j91388"><svg width="24" data-e2e="" height="24" viewBox="0 0 48 48"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M4 24C4 21.7909 5.79086 20 8 20C10.2091 20 12 21.7909 12 24C12 26.2091 10.2091 28 8 28C5.79086 28 4 26.2091 4 24ZM20 24C20 21.7909 21.7909 20 24 20C26.2091 20 28 21.7909 28 24C28 26.2091 26.2091 28 24 28C21.7909 28 20 26.2091 20 24ZM36 24C36 21.7909 37.7909 20 40 20C42.2091 20 44 21.7909 44 24C44 26.2091 42.2091 28 40 28C37.7909 28 36 26.2091 36 24Z">
                    </path>
                </svg></div>
        </div>
    </div>
</div>
`
            divMessages += divMessage
        }
        return divMessages
    }

    function handleClickOnWrapper(conversations) {
        const divItemWrappers = document.querySelectorAll('.css-1gs3mwd-DivItemWrapper');
        divItemWrappers.forEach((div, index) => {
            div.addEventListener('click', function () {
                handleTabClick(divItemWrappers, this);
                divDivChatHeader.style.display = 'flex'
                divChatMain.style.display = 'flex'
                divDivChatHeader.innerHTML = renderDivDivChatHeader(conversations[index])
                let convo = renderDivChatMain(conversations[index]);
                divChatMain.innerHTML = convo ? convo : '';
                divChatMain.scrollTop = divChatMain.scrollHeight;
                divChatBottom.style.display = 'flex'
                indexCurrentContact = index
            });
        });
    }

    function updateMessage(input) {
        socket.emit('updateMessage', { id: input.id }, (err) => console.error(err));
        socket.on('updateMessage', (data) => {
            if (!data) {
                const newContact = {
                    participant_id: input,
                    user_id: customer,
                    messages: []
                }
                conversations.unshift(newContact)
                renderContact(conversations);
                handleClickOnWrapper(conversations);
            }
        });
    }

    function updateMessages(input) {
        return new Promise((resolve, reject) => {
            socket.emit('updateMessages', { id: customer.id }, (err) => err ? reject(err) : null);
            socket.on('updateMessages', (data) => {
                conversations = data;
                if (input) {
                    conversations.push(input);
                }
                renderContact(conversations);
                handleClickOnWrapper(conversations);
                resolve();
            });
        });
    }

    socket.on('sendMessage', async (data) => {
        try {
            await updateMessages(null);
            let convo = await renderDivChatMain(conversations[indexCurrentContact]);
            divChatMain.innerHTML = convo ? convo : '';
            divChatMain.scrollTop = divChatMain.scrollHeight;
        } catch (err) {
            console.error(err);
        }
    });

    updateMessages(null);

    text.addEventListener('input', function () {
        if (text.textContent.trim() !== '') {
            placeHolder.style.display = 'none'
            sendMessage.style.display = 'block'
        } else {
            sendMessage.style.display = 'none'
            placeHolder.style.display = 'block'
        }
    });

    sendMessage.addEventListener('click', () => {
        const today = new Date();
        const options = { year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' };
        const formattedDate = new Date(today).toLocaleDateString(undefined, options);
        const user = conversations[indexCurrentContact].user_id
        let receiverId = conversations[indexCurrentContact].participant_id.id
        if (user.id !== customer.id) {
            receiverId = user.id
        }
        socket.emit('sendMessage', { senderId: customer.id, receiverId: receiverId, mess: text.textContent.trim() }, (data, err) => {
            let divMess
            if (err) {
                divMess = `
             <div class="css-okl125-DivChatMainContent ediam1h24">
    <div class="css-1jzidcu-DivTimeContainer ediam1h7"><span tabindex="0">${formattedDate}</span></div>
    <div data-e2e="chat-item" class="css-ca9jkb-DivChatItemWrapper e9j91380">
        <div tabindex="0" class="css-101150x-DivMessageContainer"><a tabindex="-1"
                class="css-22xkqc-StyledLink er1vbsz0" href="/customer/profile/${customer.id}"><span shape="circle"
                    data-e2e="chat-avatar" class="css-tuohvl-SpanAvatarContainer e1e9er4e0"
                    style="width: 32px; height: 32px;"><img loading="lazy" alt=""
                        src="${customer.logo}"
                        class="css-1zpj2q-ImgAvatar e1e9er4e1"></span></a>
            <div class="css-1r46dss-DivTextContainer e9j91382">
                <p class="css-1rdxtjl-PText e9j91385">${text.textContent.trim()}</p>
            </div>
                <div data-e2e="dm-warning"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        fill="currentColor" class="css-1b0h12s-StyledIconFail e9j91387">
                       <path fill="#FF4C3A" fill-rule="evenodd"
        d="M12 3.856a9 9 0 1 0 0 18 9 9 0 0 0 0-18m-11 9c0-6.075 4.925-11 11-11s11 4.925 11 11-4.925 11-11 11-11-4.924-11-11m12.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-2-9.5a.5.5 0 0 0-.5.5v5.5a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-5.5a.5.5 0 0 0-.5-.5z"
        clip-rule="evenodd"></path>
                    </svg></div>
                <div tabindex="0" role="button" aria-haspopup="true" aria-expanded="false"
                    class="css-1v4ad6m-DivIconMore e9j91388"><svg width="24" data-e2e="" height="24" viewBox="0 0 48 48"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4 24C4 21.7909 5.79086 20 8 20C10.2091 20 12 21.7909 12 24C12 26.2091 10.2091 28 8 28C5.79086 28 4 26.2091 4 24ZM20 24C20 21.7909 21.7909 20 24 20C26.2091 20 28 21.7909 28 24C28 26.2091 26.2091 28 24 28C21.7909 28 20 26.2091 20 24ZM36 24C36 21.7909 37.7909 20 40 20C42.2091 20 44 21.7909 44 24C44 26.2091 42.2091 28 40 28C37.7909 28 36 26.2091 36 24Z">
                        </path>
                    </svg></div>
            </div>
        </div>
       `
            }
            else {
                divMess = `
      <div class="css-okl125-DivChatMainContent ediam1h24">
    <div class="css-1jzidcu-DivTimeContainer ediam1h7"><span tabindex="0">${formattedDate}</span></div>
    <div data-e2e="chat-item" class="css-ca9jkb-DivChatItemWrapper e9j91380">
        <div tabindex="0" class="css-101150x-DivMessageContainer"><a tabindex="-1"
                class="css-22xkqc-StyledLink er1vbsz0" href="/customer/profile/${customer.id}"><span shape="circle"
                    data-e2e="chat-avatar" class="css-tuohvl-SpanAvatarContainer e1e9er4e0"
                    style="width: 32px; height: 32px;"><img loading="lazy" alt=""
                        src="${customer.logo}"
                        class="css-1zpj2q-ImgAvatar e1e9er4e1"></span></a>
            <div class="css-1r46dss-DivTextContainer e9j91382">
                <p class="css-1rdxtjl-PText e9j91385">${text.textContent.trim()}</p>
            </div>
            <div data-e2e="dm-warning"></div>
            <div tabindex="0" role="button" aria-haspopup="true" aria-expanded="false"
                class="css-1v4ad6m-DivIconMore e9j91388"><svg width="24" data-e2e="" height="24" viewBox="0 0 48 48"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M4 24C4 21.7909 5.79086 20 8 20C10.2091 20 12 21.7909 12 24C12 26.2091 10.2091 28 8 28C5.79086 28 4 26.2091 4 24ZM20 24C20 21.7909 21.7909 20 24 20C26.2091 20 28 21.7909 28 24C28 26.2091 26.2091 28 24 28C21.7909 28 20 26.2091 20 24ZM36 24C36 21.7909 37.7909 20 40 20C42.2091 20 44 21.7909 44 24C44 26.2091 42.2091 28 40 28C37.7909 28 36 26.2091 36 24Z">
                    </path>
                </svg></div>
        </div>
    </div>
</div>
       `
            }
            divChatMain.innerHTML += divMess;
            divChatMain.scrollTop = divChatMain.scrollHeight;
            text.textContent = ''
            sendMessage.style.display = 'none'
            placeHolder.style.display = 'block'
            updateMessages(null)
        });
    });

    divBackIconContainer.addEventListener('click', () => {
        // mainMessages.style.display = 'flex'
        // listVideoDiv.style.display = 'none'
        // navMenuMiddle.style.display = 'none'
    })

</script>