<menu class="nav-menu">
    <div class="nav-menu-brand">
        <div class="logo-brand"><a id="home-link" href="/home"><img src="/img/logo/logo.png" alt="logo vani"></a></div>
    </div>
    <div id="menu-responsive-btn"><img src="/icon/menu.svg"></div>
    <div class="menu-list">
        <span class="menu-item"><a href="/aboutus">VIDEO</a></span>
        <span class="menu-item"><a href="/product">MUSIC</a></span>
        <span class="menu-item"><a href="/customer/upload">+ UPLOAD</a></span>
    </div>
    <div class="dropdown-container"></div>
    <div data-e2e="profile-icon" id="header-more-menu-icon" tabindex="0" role="button" aria-label="Open settings menu"
        aria-expanded="false" aria-haspopup="true" aria-controls="" class="DivProfileContainer"></div>
    <div class="dropdown-menu" id="dropdown-menu">
        <!-- Các mục trong dropdown menu -->
        <a href="/customer/profile">View profile</a>
        <a href="/customer/log-out">Log Out</a>
        <!-- ...Thêm các mục khác nếu cần... -->
    </div>
    </div>
</menu>
<div class="loader">
    <li class="ball"></li>
    <li class="ball"></li>
    <li class="ball"></li>
</div>
<script>
    const navMenu = document.querySelector('.nav-menu');

    window.addEventListener('scroll', () => {
        if (window.scrollY > 0) {
            navMenu.classList.add('scrolled');
        } else {
            navMenu.classList.remove('scrolled');
        }
    });

    const menuButton = document.getElementById('menu-responsive-btn');
    const menuList = document.querySelector('.menu-list');

    menuButton.addEventListener('click', function () {
        console.log('Click event triggered!'); // Kiểm tra xem sự kiện click có được gọi không
        menuList.classList.toggle('active');
    });


    document.addEventListener("DOMContentLoaded", function () {
        var body = document.body;

        function showLoader() {
            var loader = document.querySelector('.loader');
            loader.classList.add('visible');
        }

        function hideLoader() {
            var loader = document.querySelector('.loader');
            loader.classList.remove('visible');
        }

        function redirectToHome() {
            showLoader();
            setTimeout(function () {
                window.location.href = homeLink.getAttribute('href');
                setTimeout(function () {
                    hideLoader();
                }, 500);
            }, 2000);
        }

        var homeLink = document.getElementById('home-link');
        if (homeLink) {
            homeLink.addEventListener('click', function (event) {
                event.preventDefault();
                redirectToHome();
            });
        }

    });
    // Lấy tham chiếu đến dropdown menu và phần tử kích hoạt dropdown
    var dropdownMenu = document.getElementById("dropdown-menu");
    var profileIcon = document.getElementById("header-more-menu-icon");
    document.addEventListener("DOMContentLoaded", function () {
        var customer;
        // Gọi API để lấy dữ liệu của khách hàng
        fetch('/customer/header') // Thay thế '/api/customer' bằng endpoint của API của bạn
            .then(response => response.json())
            .then(data => {
                // Xử lý dữ liệu nhận được từ API
                var customerLogo = data.customer.logo;
                if (customerLogo) {
                    customer = customerLogo
                    profileIcon.style = `background-image:url( ${customerLogo} )`
                } else {
                    profileIcon.style = "background-image:url(/img/logo/logo.png)";
                    dropdownMenu.style.display = "none";
                }
            })
            .catch(error => {
                profileIcon.style = "background-image:url(/img/logo/logo.png)";
                console.error('Error:', error);
            });

    });


    profileIcon.addEventListener("click", function () {
        if (dropdownMenu.style.display === "none") {
            dropdownMenu.style.display = "block";
        } else {
            dropdownMenu.style.display = "none";
        }
    });

</script>