<menu class="nav-menu">
    <div class="nav-menu-brand">
        <div class="logo-brand"><a id="home-link" href="/home"><img
                    src="https://w0.peakpx.com/wallpaper/331/769/HD-wallpaper-lazy-egg5-egg-gudetama-kawaii-lazy-egg.jpg"
                    alt="logo vani"></a></div>
    </div>
    <div id="menu-responsive-btn"><img
            src="https://w0.peakpx.com/wallpaper/331/769/HD-wallpaper-lazy-egg5-egg-gudetama-kawaii-lazy-egg.jpg">
    </div>
    <div class="menu-list">
        <span class="menu-item"><a href="/customer/videos">VIDEO</a></span>
        <span class="menu-item"><a href="/product">MUSIC</a></span>
        <span class="menu-item"><a href="/customer/upload">+ UPLOAD</a></span>
    </div>
    <div class="dropdown-container"></div>
    <div data-e2e="profile-icon" id="header-more-menu-icon" tabindex="0" role="button" aria-label="Open settings menu"
        aria-expanded="false" aria-haspopup="true" aria-controls="" class="DivProfileContainer"></div>
    <div class="dropdown-menu" id="dropdown-menu">
        <!-- Các mục trong dropdown menu -->
        <a>View profile</a>
        <a href="/customer/log-out">Log Out</a>
        <!-- ...Thêm các mục khác nếu cần... -->
    </div>
    </div>
</menu>
<div class="loader">
    <li class="ball"></li>
    <li class="ball"></li>
    <li class="ball"></li>
</div>
<script>
    const navMenu = document.querySelector('.nav-menu');

    window.addEventListener('scroll', () => {
        if (window.scrollY > 0) {
            navMenu.classList.add('scrolled');
        } else {
            navMenu.classList.remove('scrolled');
        }
    });

    const menuButton = document.getElementById('menu-responsive-btn');
    const menuList = document.querySelector('.menu-list');

    menuButton.addEventListener('click', function () {
        console.log('Click event triggered!'); // Kiểm tra xem sự kiện click có được gọi không
        menuList.classList.toggle('active');
    });


    document.addEventListener("DOMContentLoaded", function () {
        let body = document.body;

        function showLoader() {
            let loader = document.querySelector('.loader');
            loader.classList.add('visible');
        }

        function hideLoader() {
            let loader = document.querySelector('.loader');
            loader.classList.remove('visible');
        }

        function redirectToHome() {
            showLoader();
            setTimeout(function () {
                window.location.href = homeLink.getAttribute('href');
                setTimeout(function () {
                    hideLoader();
                }, 500);
            }, 2000);
        }

        let homeLink = document.getElementById('home-link');
        if (homeLink) {
            homeLink.addEventListener('click', function (event) {
                event.preventDefault();
                redirectToHome();
            });
        }

    });
    // Lấy tham chiếu đến dropdown menu và phần tử kích hoạt dropdown
    let dropdownMenu = document.getElementById("dropdown-menu");
    let profileIcon = document.getElementById("header-more-menu-icon");


    document.addEventListener("DOMContentLoaded", function () {
        // let avatarUrl;
        // fetch(`https://graph.facebook.com/v14.0/2061205280902736?fields=picture&access_token=EAASLbC2vZBQ4BO4G6sXi6KKe1Rlm1yI9bl8atMZCQsUPAVE71CwrpCPvRqCUT9ms5eZBJHZADMpMRkZAnzGEDk0diSalKTKIWR7roV48Qbat94zLxqv1knZBZA5CBQbcRlaKW7W8P6Rzew74VSEkQqM4Dn6DhfMRxfEiFZAPBHcFJmLYpAeJNK3JUbv7VZBEZAVj6WLmxhL4n3JrqV1fkUdvKptBzCddRxaWUwIexd4O1NrFTp7ydOsm9t8zqmOZA5dFWH7SQZDZD`)
        //     .then(response => response.json())
        //     .then(data => {
        //         console.log("data:", data)
        //         avatarUrl = data.picture?.data?.url || null;
        //         console.log("avatarUrl:", avatarUrl)
        //     })



        let customer;
        // Gọi API để lấy dữ liệu của khách hàng
        fetch('/customer/header') // Thay thế '/api/customer' bằng endpoint của API của bạn
            .then(response => response.json())
            .then(data => {
                let links = document.querySelectorAll('#dropdown-menu a');
                links.forEach(function (link) {
                    if (link.innerText === 'View profile') {
                        link.href = `/customer/profile/${data.customer.id}`;
                    }
                });
                let customerLogo = data.customer.logo;
                if (customerLogo) {
                    customer = customerLogo
                    profileIcon.style = `background-image:url( ${customerLogo} )`
                } else {
                    profileIcon.style = "background-image:url(https://w0.peakpx.com/wallpaper/331/769/HD-wallpaper-lazy-egg5-egg-gudetama-kawaii-lazy-egg.jpg)";
                    dropdownMenu.style.display = "none";
                }
            })
            .catch(error => {
                profileIcon.style = "background-image:url(https://w0.peakpx.com/wallpaper/331/769/HD-wallpaper-lazy-egg5-egg-gudetama-kawaii-lazy-egg.jpg)";
                console.error('Error:', error);
            });

    });


    profileIcon.addEventListener("click", function () {
        if (dropdownMenu.style.display === "none") {
            dropdownMenu.style.display = "block";
        } else {
            dropdownMenu.style.display = "none";
        }
    });

</script>